playbook/playbook-CrowdStrike_Falcon_Malware_-_Incident_Enrichment.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 1.12.8
    packID: CrowdStrikeFalcon
    packName: CrowdStrike Falcon
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This playbook enables enriching CrowdStrike Falcon incidents by pivoting to their detections as well as mapping all the relevant data to the Cortex XSOAR incident fields.
id: CrowdStrike Falcon Malware - Incident Enrichment
inputs:
- description: The ID of the CrowdStrike detection or incident.
  key: DetectionOrIncidentID
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.externalsystemid}
name: CrowdStrike Falcon Malware - Incident Enrichment
outputs:
- contextPath: CrowdStrike
  description: CrowdStrike Detection or Incident details.
  type: unknown
- contextPath: Endpoint
  description: Endpoint details.
  type: unknown
- contextPath: CrowdStrike.FoundDetections
  description: Indicates whether detections were found.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c2bead67-50cb-4869-879b-0bdb2a5a250b
      iscommand: false
      name: ""
      version: -1
    taskid: c2bead67-50cb-4869-879b-0bdb2a5a250b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1090,
          "y": -1050
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.sourceBrand
          operator: isEqualString
          right:
            value:
              simple: CrowdstrikeFalcon
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is Crowdstrike the alert source?
      id: 2157cc1f-d365-42ae-8672-9db5f8c22c07
      iscommand: false
      name: Is Crowdstrike the alert source?
      type: condition
      version: -1
    taskid: 2157cc1f-d365-42ae-8672-9db5f8c22c07
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1090,
          "y": -930
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Device Status
      output:
        simple: ${Endpoint.IsIsolated}
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        simple: ${incident.agentsid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns information about an endpoint.
      id: af0c7571-95d7-43bc-84cf-2b2816ed6dfb
      iscommand: true
      name: Enrich endpoint details
      script: '|||endpoint'
      type: regular
      version: -1
    taskid: af0c7571-95d7-43bc-84cf-2b2816ed6dfb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 580
        }
      }
  "5":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: incident.externalsystemid
          operator: startWith
          right:
            value:
              simple: inc
      label: incident
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: incident.externalsystemid
          operator: startWith
          right:
            value:
              simple: ldt
      label: detection
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      detection:
      - "8"
      incident:
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is this an incident or detection?
      id: 4d070f64-db00-47c6-84d1-412299300b13
      iscommand: false
      name: Is this an incident or a detection?
      type: condition
      version: -1
    taskid: 4d070f64-db00-47c6-84d1-412299300b13
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 670,
          "y": -740
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 78cf4344-2c76-4853-8aae-ddc0aa71e47e
      iscommand: false
      name: Incident
      type: title
      version: -1
    taskid: 78cf4344-2c76-4853-8aae-ddc0aa71e47e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 470,
          "y": -520
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      scriptArguments:
        IncidentID:
          simple: ${incident.externalid}
      wait: 1
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      IncidentID:
        simple: ${inputs.DetectionOrIncidentID}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 47da239e-6de2-4021-8afd-300d2e6c8765
      iscommand: false
      name: CrowdStrike Falcon - Get Detections by Incident
      playbookId: CrowdStrike Falcon - Get Detections by Incident
      type: playbook
      version: -1
    taskid: 47da239e-6de2-4021-8afd-300d2e6c8765
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 470,
          "y": -355
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dfd0c2b3-0170-4ef0-8273-ff75fe4127e8
      iscommand: false
      name: Detection
      type: title
      version: -1
    taskid: dfd0c2b3-0170-4ef0-8273-ff75fe4127e8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 870,
          "y": -520
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: CrowdStrike.Detection
      value:
        complex:
          accessor: additionaldata
          root: incident
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
          - operator: Stringify
          - args:
              prefix:
                value:
                  simple: '{"Behavior":['
              suffix:
                value:
                  simple: ']}'
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 8332b249-c325-4196-8073-1c334a9edec4
      iscommand: false
      name: Map behaviors data to the context
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 8332b249-c325-4196-8073-1c334a9edec4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": -355
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 74e5f7c5-c113-46dc-8e14-34195b5a2435
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 74e5f7c5-c113-46dc-8e14-34195b5a2435
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1090,
          "y": 1320
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      deviceid:
        simple: ${Endpoint.[0].ID}
      devicelocalip:
        simple: ${Endpoint.[0].IPAddress}
      devicemacaddress:
        simple: ${Endpoint.[0].MACAddress}
      devicename:
        simple: ${Endpoint.[0].Hostname}
      deviceosname:
        simple: ${Endpoint.[0].OS}
      deviceosversion:
        simple: ${Endpoint.[0].OSVersion}
      devicestatus:
        simple: ${Endpoint.[0].Status}
      isolated:
        simple: ${Endpoint.[0].IsIsolated}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: bc402fbc-7adb-45aa-86c7-11ed48218beb
      iscommand: true
      name: Set endpoint information to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: bc402fbc-7adb-45aa-86c7-11ed48218beb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 765
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether given entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If an array is provided, will return 'yes'
        if one of the entries returns an error.
      id: 76cc6bfa-107f-4440-85c0-066f67bede92
      iscommand: false
      name: Is there only one endpoint?
      script: isError
      type: condition
      version: -1
    taskid: 76cc6bfa-107f-4440-85c0-066f67bede92
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 945
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      filesha256:
        simple: ${CrowdStrike.Detection.Behavior.sha256}
      md5:
        simple: ${CrowdStrike.Detection.Behavior.md5}
      parentprocessfilepath:
        simple: ${CrowdStrike.Detection.Behavior.filepath}
      processname:
        simple: ${CrowdStrike.Detection.Behavior.filename}
      sha256:
        simple: ${CrowdStrike.Detection.Behavior.sha256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 79031241-cac7-4365-82fd-fb32ff32f28e
      iscommand: true
      name: Set process details to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 79031241-cac7-4365-82fd-fb32ff32f28e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": 65
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 04c0cbb3-0a7a-43e3-8e2d-935ea26d41d1
      iscommand: false
      name: Alert details settings
      type: title
      version: -1
    taskid: 04c0cbb3-0a7a-43e3-8e2d-935ea26d41d1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 870,
          "y": 440
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      filesha256:
        simple: ${CrowdStrike.Detection.Behavior.sha256}
      md5:
        simple: ${CrowdStrike.Detection.Behavior.md5}
      parentprocessfilepath:
        simple: ${CrowdStrike.Detection.Behavior.filepath}
      processname:
        simple: ${CrowdStrike.Detection.Behavior.filename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: fdf0f1d1-0908-433c-806f-a6611924fe9d
      iscommand: true
      name: Set process details to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: fdf0f1d1-0908-433c-806f-a6611924fe9d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 65
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: Alert Name,Hostname,File Name,Process ID,SHA256,Command Line
      context_path:
        simple: CrowdStrike.Detection.Behavior
      grid_id:
        simple: alertsandrelatedinfo
      keys:
        simple: display_name,device_id,filename,,sha256,cmdline
      overwrite:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a Grid table from items or key-value pairs.
      id: 5cac0939-42d0-4676-8a58-9ddceadfce50
      iscommand: false
      name: Set alert details to grid
      script: SetGridField
      type: regular
      version: -1
    taskid: 5cac0939-42d0-4676-8a58-9ddceadfce50
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": 765
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
      - "26"
      - "29"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      text:
        simple: ${CrowdStrike.Detection}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: e6b801e9-cdb2-4b93-88e8-075fedce7acf
      iscommand: true
      name: Extract indicators
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: e6b801e9-cdb2-4b93-88e8-075fedce7acf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": 270
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: CrowdStrike.FoundDetections
          operator: isNotEqualString
          right:
            value:
              simple: "False"
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Are there related detections?
      id: 9b25ec71-1d64-4668-8e4c-a13e097b9350
      iscommand: false
      name: Are there related detections?
      type: condition
      version: -1
    taskid: 9b25ec71-1d64-4668-8e4c-a13e097b9350
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -220,
          "y": -180
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ed8a7a7b-f719-457b-8ae2-c750873e39d9
      iscommand: false
      name: No detections found
      type: title
      version: -1
    taskid: ed8a7a7b-f719-457b-8ae2-c750873e39d9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -220,
          "y": 255
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d54a9ebd-1264-48b7-8e56-03ab31e13955
      iscommand: false
      name: Set endpoint details
      type: title
      version: -1
    taskid: d54a9ebd-1264-48b7-8e56-03ab31e13955
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 440
        }
      }
  "27":
    continueonerror: true
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      deviceid:
        simple: ${Endpoint.ID}
      devicelocalip:
        simple: ${Endpoint.IPAddress}
      devicemacaddress:
        simple: ${Endpoint.MACAddress}
      devicename:
        simple: ${Endpoint.Hostname}
      deviceosname:
        simple: ${Endpoint.OS}
      deviceosversion:
        simple: ${Endpoint.OSVersion}
      devicestatus:
        simple: ${Endpoint.Status}
      isolated:
        simple: ${Endpoint.IsIsolated}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 10024a5a-52be-477a-8497-2e70c01bc015
      iscommand: true
      name: Set endpoint information to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 10024a5a-52be-477a-8497-2e70c01bc015
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -160,
          "y": 1120
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c5a42836-8fb5-4dea-8ef8-35bd256bbbb9
      iscommand: false
      name: Account Enrichment
      type: title
      version: -1
    taskid: c5a42836-8fb5-4dea-8ef8-35bd256bbbb9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 440
        }
      }
  "30":
    continueonerror: true
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      accountmemberof:
        complex:
          accessor: Groups
          root: Account
          transformers:
          - operator: uniq
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: /
              toReplace:
                value:
                  simple: ','
            operator: replace
          - args:
              prefix:
                value:
                  simple: '"'
              suffix:
                value:
                  simple: '"'
            operator: concat
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      accountname:
        complex:
          accessor: DisplayName
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.DisplayName
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.DisplayName
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile=val.firstName + ' ' + val.lastName
            operator: If-Then-Else
      accountstatus:
        complex:
          accessor: Status
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Status
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Status
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.status
            operator: If-Then-Else
      employeeemail:
        complex:
          accessor: Email
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Email
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Email
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile.email
            operator: If-Then-Else
          - operator: uniq
          - operator: FirstArrayElement
      employeetype:
        complex:
          accessor: Type
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Type
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Type
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile.userType
            operator: If-Then-Else
      manageremailaddress:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: UserManagerEmail
              operator: isNotEmpty
          root: UserManagerEmail
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
      managername:
        complex:
          accessor: Manager
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Manager
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Manager
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile.manager
            operator: If-Then-Else
      samaccountname:
        complex:
          accessor: Username
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Username
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Username
              then:
                value:
                  simple: IAM.UserProfile.profile.login
            operator: If-Then-Else
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: e2d538bd-b311-46e4-8b89-a890955ae666
      iscommand: true
      name: Set Account information to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: e2d538bd-b311-46e4-8b89-a890955ae666
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 765
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      Username:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.users
              operator: isNotEmpty
          root: incident.users
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 0d05e7e6-e966-4e8e-896f-ab88c505e713
      iscommand: false
      name: Account Enrichment - Generic v2.1
      playbookId: Account Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 0d05e7e6-e966-4e8e-896f-ab88c505e713
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 580
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2435,
        "width": 1690,
        "x": -220,
        "y": -1050
      }
    }
  }
