playbook/playbook-CrowdStrike_Falcon_Malware_-_Investigation_and_Response.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 1.12.8
    packID: CrowdStrikeFalcon
    packName: CrowdStrike Falcon
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: " This playbook is part of the 'Malware Investigation And Response' pack.
  For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This playbook handles a CrowdStrike Falcon malware investigation, including:\n -
  Extracting and displaying MITRE data from the EDR and sandboxes\n - Deduplicating
  similar incidents\n - Searching for hashes in an alert in a sandbox to provide their
  relevant information. If the hashes are not found, retrieving them from the endpoint
  and detonating them in the sandbox.\n - Verifying the actions taken by the EDR\n
  - Analyzing the command line\n - Searching for relevant hashes in additional hosts
  in the organization\n - Retrieving data about the host, including process list and
  network connections\n - Performing containment and mitigation actions as part of
  handling false/true positives \n - Setting the relevant layouts"
id: CrowdStrike Falcon Malware - Investigation and Response
inputs:
- description: Whether file retrieval from the endpoint is allowed.
  key: RetrieveFile
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Whether file detonation is allowed on the sandbox.
  key: DetonateFile
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Whether the deduplication playbook will be used.
  key: EnableDeduplication
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: When closing an incident, whether to use closure steps or to close
    automatically.
  key: EnableClosureSteps
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: The name of the ticketing system to use, for example Jira or ServiceNow
    (Used in case incident classified as True Positive).
  key: TicketingSystemToUse
  playbookInputQuery: null
  required: false
  value: {}
- description: The tag to assign for indicators to block.
  key: BlockIOCTagName
  playbookInputQuery: null
  required: false
  value: {}
- description: |
    Whether host isolation is allowed.
  key: AutoIsolation
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: The name of the tag to apply for allowed indicators.
  key: AllowIOCTagName
  playbookInputQuery: null
  required: false
  value: {}
- description: The ticket project name (required for Jira).
  key: TicketProjectName
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether automatic un-isolation is allowed.
  key: AutoUnisolation
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: Whether the alert originated from a SIEM. If True, the incident enrichment
    flow does not run.
  key: DidAlertOriginateFromSIEM
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: "This input defines how to handle similar incidents. \nPossible values:
    \"Link \" (default), \"Close\", and \"Link and Close\".\nNote: Close incidents
    requires you to define the \"CloseSimilar\" input as well.\nAlso, the incidents
    found by similar indicators or fields will be closed if their similarity score
    is above the CloseSimilar value."
  key: DedupHandleSimilar
  playbookInputQuery: null
  required: false
  value:
    simple: Link
- description: The maximum number of incidents to query and set to context data.
  key: DedupLimit
  playbookInputQuery: null
  required: false
  value:
    simple: "200"
- description: |-
    Defines the threshold of similarity to close a similar incident. All similar incidents with similarity above this value will be closed.
    For example, if CloseSimilar is set to .8 and an incident has a similarity score of .9, the incident will be closed.
    The value should be between 0 and 1 [0=low similarity , 1=identical].
  key: DedupCloseSimilar
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Whether to apply the IOC globally.
    If False, provide an input for the HostGroupName input with the group name.
  key: ApplyOCGlobally
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: The name of the list group to apply if ApplyOCGlobally is set to False.
  key: HostGroupName
  playbookInputQuery: null
  required: false
  value: {}
- description: A comma-separated list of incident text fields to take into account
    when computing similarity. For example commandline, URL.
  key: DedupSimilarTextField
  playbookInputQuery: null
  required: false
  value:
    simple: agnetsid,users,agentsid,CMDline,Hostnames,filenames,filepaths
- description: |-
    Retain incidents with a similarity score greater than the MinimunIncidentSimilarity.
    Value should be between 0 to 1 [0=low similarity, 1=identical]
  key: DedupMinimunIncidentSimilarity
  playbookInputQuery: null
  required: false
  value:
    simple: "0.2"
name: CrowdStrike Falcon Malware - Investigation and Response
outputs:
- contextPath: CrowdStrike
  description: All the CrowdStrike data
  type: unknown
- contextPath: Endpoint
  description: All the endpoint data
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "123"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0929093e-8710-4d6b-8e38-c5493169a90b
      iscommand: false
      name: ""
      version: -1
    taskid: 0929093e-8710-4d6b-8e38-c5493169a90b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 720,
          "y": -810
        }
      }
  "16":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.RetrieveFile
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "114"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is file retrieval allowed?
      id: 66deace6-be24-40c7-8d3a-8db7505a954c
      iscommand: false
      name: Is file retrieval allowed?
      type: condition
      version: -1
    taskid: 66deace6-be24-40c7-8d3a-8db7505a954c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -80,
          "y": 1380
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d3a211a9-b31c-44d7-8079-cc3312b7a82a
      iscommand: false
      name: Sandbox
      type: title
      version: -1
    taskid: d3a211a9-b31c-44d7-8079-cc3312b7a82a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 190,
          "y": 780
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: baaa312f-6ef0-498d-820b-ac84107df2a0
      iscommand: false
      name: Sandbox Done
      type: title
      version: -1
    taskid: baaa312f-6ef0-498d-820b-ac84107df2a0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -80,
          "y": 2620
        }
      }
  "26":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.DetonateFile
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "96"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is detonation allowed?
      id: cee8bc95-beb7-470b-8a6a-7fe7c1a90058
      iscommand: false
      name: Is detonation allowed?
      type: condition
      version: -1
    taskid: cee8bc95-beb7-470b-8a6a-7fe7c1a90058
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 150,
          "y": 1900
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "117"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8d0ade3a-5b0d-436f-8cc7-9c222fc95753
      iscommand: false
      name: 'Verdict and Closure '
      type: title
      version: -1
    taskid: 8d0ade3a-5b0d-436f-8cc7-9c222fc95753
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 880,
          "y": 2760
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "89"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4349a353-7714-45be-8644-1b68435976de
      iscommand: false
      name: False Positive
      type: title
      version: -1
    taskid: 4349a353-7714-45be-8644-1b68435976de
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -240,
          "y": 3480
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "100"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1914fba2-2f15-47c3-8111-b169bf47d885
      iscommand: false
      name: Additional findings
      type: title
      version: -1
    taskid: 1914fba2-2f15-47c3-8111-b169bf47d885
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1740,
          "y": 780
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    scriptarguments:
      CloseSimilar:
        simple: ${inputs.DedupCloseSimilar}
      closeReason:
        simple: Closed by Dedup Playbook within inc ${incident.id}
      fromDate:
        simple: 1 months ago
      handleSimilar:
        simple: ${inputs.DedupHandleSimilar}
      limit:
        simple: ${inputs.DedupLimit}
      method:
        simple: Fields and Indicators
      minimunIncidentSimilarity:
        simple: ${inputs.DedupMinimunIncidentSimilarity}
      query:
        simple: -status:closed -category:job
      showIncidentSimilarityForAllFields:
        simple: "True"
      similarTextField:
        simple: ${inputs.DedupSimilarTextField}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook identifies duplicate incidents using the Cortex
        XSOAR machine learning method (script).\n In this playbook, you can choose
        fields and/or indicators to be compared against other incidents in the Cortex
        XSOAR database. \n\n Note: To identify similar incidents you must properly
        define the playbook inputs. "
      id: 27be3272-5d57-4b35-820f-ad46bc583ee4
      iscommand: false
      name: Dedup - Generic v4
      playbookId: Dedup - Generic v4
      type: playbook
      version: -1
    taskid: 27be3272-5d57-4b35-820f-ad46bc583ee4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 950,
          "y": 450
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 33a85a05-1791-4d76-83f7-dee13836677a
      iscommand: false
      name: Deduplication
      type: title
      version: -1
    taskid: 33a85a05-1791-4d76-83f7-dee13836677a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 720,
          "y": 145
        }
      }
  "67":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.EnableDeduplication
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "65"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Use deduplication?
      id: 18a65516-7b17-407a-8eea-8f819cbbc430
      iscommand: false
      name: Use deduplication?
      type: condition
      version: -1
    taskid: 18a65516-7b17-407a-8eea-8f819cbbc430
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 720,
          "y": 280
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
      - "63"
      - "97"
      - "118"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 72164548-a307-420b-80bc-e5a7533cf1c8
      iscommand: false
      name: Deduplication Done
      type: title
      version: -1
    taskid: 72164548-a307-420b-80bc-e5a7533cf1c8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 720,
          "y": 620
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "94"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1f5ed89a-caf8-46e0-86cb-3c75e3eeb9cf
      iscommand: false
      name: Known Files
      type: title
      version: -1
    taskid: 1f5ed89a-caf8-46e0-86cb-3c75e3eeb9cf
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1270
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f88c3ec2-83a5-4f7a-8dc1-5a5d441060bc
      iscommand: false
      name: Unknown Files
      type: title
      version: -1
    taskid: f88c3ec2-83a5-4f7a-8dc1-5a5d441060bc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -80,
          "y": 1270
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      DeviceId:
        simple: ${incident.deviceid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This playbook extracts data from the host using RTR commands. For
        example, commands for getting a list of running processes and network connections.
      id: 05246faa-b5f9-4715-8271-4f2a47da62d1
      iscommand: false
      name: CrowdStrike Falcon - Get Endpoint Forensics Data
      playbookId: CrowdStrike Falcon - Get Endpoint Forensics Data
      type: playbook
      version: -1
    taskid: 05246faa-b5f9-4715-8271-4f2a47da62d1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1740,
          "y": 2590
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "83"
    note: false
    quietmode: 0
    scriptarguments:
      FileSha256:
        complex:
          accessor: filesha256
          root: incident
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook searches for a specific hash in the supported sandboxes.
        If the hash is known, the playbook provides a detailed analysis of the sandbox
        report. Currently supported sandboxes are Falcon X and Wildfire.
      id: a7cdb35a-c1de-4ee4-834f-489a16a703d4
      iscommand: false
      name: Search For Hash In Sandbox - Generic
      playbookId: Search For Hash In Sandbox - Generic
      type: playbook
      version: -1
    taskid: a7cdb35a-c1de-4ee4-834f-489a16a703d4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 190,
          "y": 920
        }
      }
  "83":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: NonFoundHashes
          operator: isEmpty
          right:
            value: {}
      label: "Yes"
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "71"
      "Yes":
      - "70"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Were all the hashes found by the sandbox?
      id: 5039f604-507b-428d-8bd0-1b9272e39ed9
      iscommand: false
      name: Were all the hashes found by the sandbox?
      type: condition
      version: -1
    taskid: 5039f604-507b-428d-8bd0-1b9272e39ed9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1100
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "93"
    note: false
    quietmode: 0
    scriptarguments:
      AllowHostGroupName:
        simple: ${inputs.HostGroupName}
      AllowIOCTagName:
        simple: ${inputs.AllowIOCTagName}
      ApplyAllowIOCGlobally:
        simple: ${inputs.ApplyOCGlobally}
      AutoUnisolation:
        simple: ${inputs.AutoUnisolation}
      CloseNotes:
        simple: ${Determine if the alert was False/True Positive.Answers.1}
      HostId:
        simple: ${incident.deviceid}
      Sha256:
        simple: ${incident.filesha256}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook handles a CrowdStrike incident that was determined
        to be a false positive by the analyst. Actions include unisolating the host,
        allowing the indicator by the EDR, and tagging it.
      id: 9ad7e327-f371-4df9-8c51-534d4505eef4
      iscommand: false
      name: CrowdStrike Falcon - False Positive Incident Handling
      playbookId: CrowdStrike Falcon - False Positive Incident Handling
      type: playbook
      version: -1
    taskid: 9ad7e327-f371-4df9-8c51-534d4505eef4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -240,
          "y": 3610
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    scriptarguments:
      AutoIsolation:
        simple: ${inputs.AutoIsolation}
      BlockHostGroupName:
        simple: ${inputs.HostGroupName}
      BlockIOCTagName:
        simple: ${inputs.BlockIOCTagName}
      BlockMaliciousIOCGlobally:
        simple: ${inputs.ApplyOCGlobally}
      CloseNotes:
        simple: ${Determine if the alert was False/True Positive.Answers.1}
      HostID:
        simple: ${incident.deviceid}
      OperatingSystemToRemoveFrom:
        simple: ${incident.deviceosname}
      PathsForFilesToRemove:
        simple: ${incident.filepaths}
      Sha256:
        simple: ${incident.filesha256}
      TicketDescription:
        simple: ${Determine if the alert was False/True Positive.Answers.2}
      TicketProjectName:
        simple: ${inputs.TicketProjectName}
      TicketingSystemToUse:
        simple: ${inputs.TicketingSystemToUse}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook handles a CrowdStrike incident that was determined
        to be a true positive by the analyst. Actions include isolating the host,
        blocking the indicator by the EDR, and tagging it.
      id: 0a979707-1e0f-4af6-88dd-61008c59c212
      iscommand: false
      name: CrowdStrike Falcon - True Positive Incident Handling
      playbookId: CrowdStrike Falcon - True Positive Incident Handling
      type: playbook
      version: -1
    taskid: 0a979707-1e0f-4af6-88dd-61008c59c212
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 200,
          "y": 3610
        }
      }
  "91":
    continueonerrortype: ""
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2a169be1-5baa-449c-8325-993df4bf62bb
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 2a169be1-5baa-449c-8325-993df4bf62bb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 880,
          "y": 3970
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "91"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: Resolved
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 53b52791-9353-4a3b-88f7-2d391faaf13a
      iscommand: true
      name: Close  XSOAR incident as True Positive
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 53b52791-9353-4a3b-88f7-2d391faaf13a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 200,
          "y": 3780
        }
      }
  "93":
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "91"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: False Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 24d22cc6-2761-404c-83ee-6e60e0750d12
      iscommand: true
      name: Close XSOAR incident as False Positive
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 24d22cc6-2761-404c-83ee-6e60e0750d12
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -240,
          "y": 3780
        }
      }
  "94":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Malware Investigation Summary
      output:
        simple: ${InvestigationSummary}
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "126"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves information from previously run reputation commands and
        aggregates their results.
      id: cc0b7ba8-74d2-41e5-87a6-d12c999e69d1
      iscommand: false
      name: Parse results for summary
      script: InvestigationSummaryParse
      type: regular
      version: -1
    taskid: cc0b7ba8-74d2-41e5-87a6-d12c999e69d1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2280
        }
      }
  "96":
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "94"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.SHA256
              operator: inList
              right:
                iscontext: true
                value:
                  simple: incident.filesha256
          - - left:
                iscontext: true
                value:
                  simple: File.SHA256
              operator: inList
              right:
                iscontext: true
                value:
                  simple: NonFoundHashes
          - - left:
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          - - left:
                iscontext: true
                value:
                  simple: File.Size
              operator: greaterThan
              right:
                value:
                  simple: "0"
          root: File
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook uploads, detonates, and analyzes files for supported
        sandboxes. Currently supported sandboxes are Falcon X and Wildfire.
      id: eb830183-798c-4504-8263-2ae7736b72c1
      iscommand: false
      name: Detonate and Analyze File - Generic
      playbookId: Detonate and Analyze File - Generic
      type: playbook
      version: -1
    taskid: eb830183-798c-4504-8263-2ae7736b72c1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 280,
          "y": 2110
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "98"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 70d04d90-4233-46fb-8a50-c2cfb60e8117
      iscommand: false
      name: Verify Host State
      type: title
      version: -1
    taskid: 70d04d90-4233-46fb-8a50-c2cfb60e8117
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 880,
          "y": 780
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      PolicyBehaviourDetails:
        complex:
          accessor: pattern_disposition_details
          root: CrowdStrike.Detection.Behavior
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: CrowdStrike.Detection.Behavior.pattern_disposition_details
              equals: {}
              lhs:
                iscontext: true
                value:
                  simple: CrowdStrike.Detection.Behavior.pattern_disposition_details
              options: {}
              rhs: {}
              then:
                iscontext: true
                value:
                  simple: CrowdStrike.Detection.Behavior.PatternDispositionDetails
            operator: If-Then-Else
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook verifies and sets the actions of the policy applied
        by CrowdStrike Falcon.
      id: a5ba9d0f-e74a-4a16-8771-067e23b722b7
      iscommand: false
      name: CrowdStrike Falcon Malware - Verify Containment Actions
      playbookId: CrowdStrike Falcon Malware - Verify Containment Actions
      type: playbook
      version: -1
    taskid: a5ba9d0f-e74a-4a16-8771-067e23b722b7
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 880,
          "y": 910
        }
      }
  "100":
    continueonerrortype: ""
    id: "100"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    scriptarguments:
      DetectedHostID:
        simple: ${incident.agentsid}
      FileSha256:
        simple: ${incident.filesha256}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook searches across the organization for other endpoints
        associated with a specific SHA256 hash.
      id: a3c02fd4-6f26-401c-838f-7f8e44dc83e1
      iscommand: false
      name: CrowdStrike Falcon - Search Endpoints By Hash
      playbookId: CrowdStrike Falcon - Search Endpoints By Hash
      type: playbook
      version: -1
    taskid: a3c02fd4-6f26-401c-838f-7f8e44dc83e1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1740,
          "y": 910
        }
      }
  "110":
    continueonerrortype: ""
    id: "110"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "112"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 336a858d-3a79-42fb-818b-d8c821fb41f4
      iscommand: false
      name: Manual Containment
      type: title
      version: -1
    taskid: 336a858d-3a79-42fb-818b-d8c821fb41f4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 640,
          "y": 3480
        }
      }
  "111":
    continueonerrortype: ""
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6c3f7a93-bdc7-48d9-8e35-d635c023b35b
      iscommand: false
      name: Automatic Containment
      type: title
      version: -1
    taskid: 6c3f7a93-bdc7-48d9-8e35-d635c023b35b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 200,
          "y": 3480
        }
      }
  "112":
    continueonerrortype: ""
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual containment
      id: a6e17bce-c4e8-4a06-8a77-a807d3f8c98e
      iscommand: false
      name: Manual containment
      type: regular
      version: -1
    taskid: a6e17bce-c4e8-4a06-8a77-a807d3f8c98e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 640,
          "y": 3610
        }
      }
  "113":
    continueonerrortype: ""
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      TechniqueID:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: incident.mitretechniqueid
              operator: notStartWith
              right:
                value:
                  simple: cs
          root: incident.mitretechniqueid
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook accepts as an input MITRE techniques IDs and provides the MITRE technique name and data using the MITRE integration.
        After extracting the MITRE data, the techniques are associated with the incident.
      id: fdad95be-5763-4e81-8f82-7c382d31f924
      iscommand: false
      name: Mitre Attack - Extract Technique Information From ID
      playbookId: Mitre Attack - Extract Technique Information From ID
      type: playbook
      version: -1
    taskid: fdad95be-5763-4e81-8f82-7c382d31f924
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 720,
          "y": -100
        }
      }
  "114":
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "115"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PathsToGet
      value:
        complex:
          accessor: filepath
          filters:
          - - left:
                iscontext: true
                value:
                  simple: CrowdStrike.Detection.Behavior.sha256
              operator: inList
              right:
                iscontext: true
                value:
                  simple: NonFoundHashes
          root: CrowdStrike.Detection.Behavior
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 78ed1f17-2c86-4b21-81ac-5aeb66d11ea3
      iscommand: false
      name: Get paths for files to retrieve
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 78ed1f17-2c86-4b21-81ac-5aeb66d11ea3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 150,
          "y": 1560
        }
      }
  "115":
    continueonerrortype: ""
    id: "115"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      FileNames:
        simple: ${incident.filenames}
      HostId:
        simple: ${incident.deviceid}
      PathsToGet:
        simple: ${PathsToGet}
      ZipPassword:
        simple: infected
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook retrieves and unzips files from CrowdStrike Falcon
        and returns a list of the files that were and were not retrieved.
      id: 169f8c91-1a32-4734-8094-1aa15e202890
      iscommand: false
      name: CrowdStrike Falcon - Retrieve File
      playbookId: CrowdStrike Falcon - Retrieve File
      type: playbook
      version: -1
    taskid: 169f8c91-1a32-4734-8094-1aa15e202890
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 150,
          "y": 1720
        }
      }
  "116":
    continueonerrortype: ""
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "129"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 56b273da-13c3-4110-87b4-1ff8954b4340
      iscommand: false
      name: CrowdStrike Falcon Malware - Incident Enrichment
      playbookId: CrowdStrike Falcon Malware - Incident Enrichment
      type: playbook
      version: -1
    taskid: 56b273da-13c3-4110-87b4-1ff8954b4340
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 940,
          "y": -510
        }
      }
  "117":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.EnableClosureSteps
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "117"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "131"
      "yes":
      - "124"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Perform Incident Closure Steps?
      id: 21d38b64-90c7-4ccd-8d8f-8be26af032ea
      iscommand: false
      name: Perform Incident Closure Steps?
      type: condition
      version: -1
    taskid: 21d38b64-90c7-4ccd-8d8f-8be26af032ea
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": 2900
        }
      }
  "118":
    continueonerrortype: ""
    id: "118"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "122"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f1e03119-63d3-4377-8b62-74a8320a9933
      iscommand: false
      name: Command Line Analysis
      type: title
      version: -1
    taskid: f1e03119-63d3-4377-8b62-74a8320a9933
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 780
        }
      }
  "119":
    continueonerrortype: ""
    id: "119"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "120"
    note: false
    quietmode: 0
    scriptarguments:
      Commandline:
        complex:
          accessor: processcmd
          root: incident
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook takes the command line from the alert and performs
        the following actions:\n - Checks for base64 string and decodes if exists\n
        - Extracts and enriches indicators from the command line\n - Checks specific
        arguments for malicious usage \n\n At the end of the playbook, it sets a possible
        verdict for the command line, based on the finding:\n 1. Indicators found
        in the command line\n 2. Found AMSI techniques\n 3. Found suspicious parameters\n
        4. Usage of malicious tools\n 5. Indication of network activity"
      id: 4bf5b2be-cb5c-437f-85f8-aa0668399576
      iscommand: false
      name: Command-Line Analysis
      playbookId: Command-Line Analysis
      type: playbook
      version: -1
    taskid: 4bf5b2be-cb5c-437f-85f8-aa0668399576
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 1310
        }
      }
  "120":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: CommandlineVerdict
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "120"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "121"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Found any suspicious components?
      id: 50a00d2d-f475-42f0-8cb7-b01d3d2c9bba
      iscommand: false
      name: Found any suspicious components?
      type: condition
      version: -1
    taskid: 50a00d2d-f475-42f0-8cb7-b01d3d2c9bba
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 1490
        }
      }
  "121":
    continueonerrortype: ""
    id: "121"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        complex:
          root: CommandlineVerdict
          transformers:
          - operator: Stringify
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: '"(\w*)":'
              unpack_matches: {}
            operator: RegexExtractAll
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: a55c5333-78d2-4b35-874c-954d0762594d
      iscommand: true
      name: Set Tag `Suspicious Command-line`
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: a55c5333-78d2-4b35-874c-954d0762594d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 2590
        }
      }
  "122":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.processcmd
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "122"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "119"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a CMD line parameter?
      id: 626dc9a7-dba9-448d-86b3-2bf417c9b5e6
      iscommand: false
      name: Is there a CMD line parameter?
      type: condition
      version: -1
    taskid: 626dc9a7-dba9-448d-86b3-2bf417c9b5e6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 910
        }
      }
  "123":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.DidAlertOriginateFromSIEM
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    continueonerrortype: ""
    id: "123"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "116"
      "yes":
      - "129"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Did the alert originate from SIEM?
      id: 755fdd74-eea5-4d54-8103-4b48a141982c
      iscommand: false
      name: Did the alert originate from SIEM?
      type: condition
      version: -1
    taskid: 755fdd74-eea5-4d54-8103-4b48a141982c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 720,
          "y": -680
        }
      }
  "124":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Alert Determination
        options: []
        optionsarg:
        - simple: Unknown
        - simple: TruePositive
        - simple: FalsePositive
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Provide the closure notes for CrowdStrike
        options: []
        optionsarg:
        - simple: Other
        - simple: UnwantedSoftware
        - simple: SecurityTesting
        - simple: SecurityPersonnel
        - simple: Malware
        - simple: Apt
        - simple: NotAvailable
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Provide a description for the ticketing system
        options: []
        optionsarg: []
        placeholder: XSOAR related incident ${incident.id}
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: Determine if the alert was False/True Positive
      totalanswers: 0
    id: "124"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Was this a false positive?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - False Positive
      - True Positive
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "125"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirm if true or false positive.
      id: 0c37aad1-5eb9-4235-8205-4ee6b13650bb
      iscommand: false
      name: Confirm if true or false positive
      type: collection
      version: -1
    taskid: 0c37aad1-5eb9-4235-8205-4ee6b13650bb
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 200,
          "y": 3070
        }
      }
  "125":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Determine if the alert was False/True Positive.Answers.0
          operator: isEqualString
          right:
            value:
              simple: TruePositive
      label: True Positive
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Determine if the alert was False/True Positive.Answers.0
          operator: isEqualString
          right:
            value:
              simple: FalsePositive
      label: False Positive
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Determine if the alert was False/True Positive.Answers.0
          operator: isEqualString
          right:
            value:
              simple: unknown
      label: Unknown
    continueonerrortype: ""
    id: "125"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      False Positive:
      - "45"
      True Positive:
      - "111"
      Unknown:
      - "110"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: False/True/Manual
      id: 9d89c21e-bd49-46c8-8749-5736e9896033
      iscommand: false
      name: False/True/Manual
      type: condition
      version: -1
    taskid: 9d89c21e-bd49-46c8-8749-5736e9896033
    timertriggers:
    - action: stop
      fieldname: triagesla
    type: condition
    view: |-
      {
        "position": {
          "x": 200,
          "y": 3250
        }
      }
  "126":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Malware Detailed Investigation Summary
      output:
        simple: ${InvestigationDetailedSummary}
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parses attacks from context, and shows them according to the MITRE
        technique they use.
      id: 5421e23c-c52c-4eca-8124-677edaaa67d5
      iscommand: false
      name: Parse results for detailed summary
      script: InvestigationDetailedSummaryParse
      type: regular
      version: -1
    taskid: 5421e23c-c52c-4eca-8124-677edaaa67d5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2450
        }
      }
  "127":
    continueonerrortype: ""
    id: "127"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "128"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6d4c2267-d10e-41a6-8462-51422caef5dd
      iscommand: false
      name: Incidents without detections
      type: title
      version: -1
    taskid: 6d4c2267-d10e-41a6-8462-51422caef5dd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2350,
          "y": 125
        }
      }
  "128":
    continueonerrortype: ""
    id: "128"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "110"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 828e3f03-7df8-4aff-8226-4c8d1f9a1555
      iscommand: false
      name: Proceed to Manual
      type: title
      version: -1
    taskid: 828e3f03-7df8-4aff-8226-4c8d1f9a1555
    timertriggers:
    - action: stop
      fieldname: triagesla
    type: title
    view: |-
      {
        "position": {
          "x": 2350,
          "y": 3320
        }
      }
  "129":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: CrowdStrike.FoundDetections
          operator: isEqualString
          right:
            value:
              simple: "False"
      label: "yes"
    continueonerrortype: ""
    id: "129"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "113"
      "yes":
      - "130"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was this an incident without detections?
      id: 26235025-3a3b-4860-8270-8d535977d7de
      iscommand: false
      name: Was this an incident without detections?
      type: condition
      version: -1
    taskid: 26235025-3a3b-4860-8270-8d535977d7de
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 720,
          "y": -340
        }
      }
  "130":
    continueonerrortype: ""
    id: "130"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "127"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      attack_pattern:
        simple: ${incident.mitretechniquename}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Looks up the indicator reputation.
      id: 2d8911c3-5cae-4fae-8633-de964b4ef747
      iscommand: true
      name: Get MITRE details
      script: '|||attack-pattern'
      type: regular
      version: -1
    taskid: 2d8911c3-5cae-4fae-8633-de964b4ef747
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2350,
          "y": -80
        }
      }
  "131":
    continueonerrortype: ""
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "91"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: abc0b2f4-ef71-4983-8fa3-c0cae482161d
      iscommand: false
      name: Stop Triage SLA
      type: title
      version: -1
    taskid: abc0b2f4-ef71-4983-8fa3-c0cae482161d
    timertriggers:
    - action: stop
      fieldname: triagesla
    type: title
    view: |-
      {
        "position": {
          "x": 880,
          "y": 3330
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_25_#default#": 0.83
    },
    "paper": {
      "dimensions": {
        "height": 4845,
        "width": 2970,
        "x": -240,
        "y": -810
      }
    }
  }
