playbook/playbook-Cortex_XDR_-_Cloud_Cryptomining.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 4.9.14
    packID: CortexXDR
    packName: Cortex XDR by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: "Investigates a Cortex XDR incident containing a Cloud Cryptomining related
  alert. \nThe playbook supports AWS, Azure, and GCP and executes the following:\n\n-
  Cloud enrichment:\n   - Collects info about the involved resources\n   - Collects
  info about the involved identities\n   - Collects info about the involved IPs\n-
  Verdict decision tree\n- Verdict handling:\n   - Handle False Positives\n   - Handle
  True Positives\n      - Cloud Response - Generic sub-playbook.\n- Notifies the SOC
  if a malicious verdict was found"
id: Cortex XDR - Cloud Cryptomining
inputs:
- description: The incident ID.
  key: incident_id
  playbookInputQuery: null
  required: false
  value: {}
- description: The alert ID.
  key: alert_id
  playbookInputQuery: null
  required: false
  value: {}
- description: The SOC email address to use for the alert status notification.
  key: SOCEmailAddress
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to require an analyst review after the alert remediation.
  key: requireAnalystReview
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: A list of internal IP ranges to check IP addresses against.
  key: InternalRange
  playbookInputQuery: null
  required: false
  value: {}
name: Cortex XDR - Cloud Cryptomining
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e917c12f-a6c9-445c-8312-e00aa6e48b44
      iscommand: false
      name: ""
      version: -1
    taskid: e917c12f-a6c9-445c-8312-e00aa6e48b44
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 720,
          "y": -400
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b198bbaf-222f-43fd-8418-3f2a2b887d16
      iscommand: false
      name: Set verdict
      type: title
      version: -1
    taskid: b198bbaf-222f-43fd-8418-3f2a2b887d16
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 720,
          "y": 540
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: High
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Optionally increases the incident severity to the new value if
        it is greater than the existing severity.
      id: b188e2b1-e69f-4c7f-8694-e294b35a29d7
      iscommand: false
      name: Set the incident severity
      script: IncreaseIncidentSeverity
      type: regular
      version: -1
    taskid: b188e2b1-e69f-4c7f-8694-e294b35a29d7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 1210
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      severity:
        simple: Low
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Optionally increases the incident severity to the new value if
        it is greater than the existing severity.
      id: a1b6c2b4-a0b5-4d86-826e-ccb60dd05cbf
      iscommand: false
      name: Set the incident severity
      script: IncreaseIncidentSeverity
      type: regular
      version: -1
    taskid: a1b6c2b4-a0b5-4d86-826e-ccb60dd05cbf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 1370
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      APPROVED:
      - "28"
      UNAPPROVED:
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual verdict decision.
      id: 33902d51-7869-4df3-8a19-41cf4fce8e97
      iscommand: false
      name: Manual verdict verification
      type: condition
      version: -1
    taskid: 33902d51-7869-4df3-8a19-41cf4fce8e97
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 720,
          "y": 1040
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Cortex XSOAR Notification

          Cortex XSOAR has detected activity related to cryptomining.
          After careful analysis, Cortex XSOAR found the activity malicious.

          Please enter Cortex XSOAR incident ID ${incident.id} for further investigation and response.
      subject:
        simple: Cryptominig activity detected by Cortex XSOAR
      to:
        complex:
          root: inputs.SOCEmailAddress
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Sends an email using EWS.
      id: 758a229a-adc4-45bb-8a50-e3e115d05a09
      iscommand: true
      name: Set SOC message for malicious activity
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 758a229a-adc4-45bb-8a50-e3e115d05a09
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 1370
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook provides response playbooks for:
            * AWS - Fully supported
            * Azure - Fully supported
            * GCP - Requires input adjustment (Beta)

        The response actions available are:
            * Terminate/Shut down/Power off an instance
            * Delete/Disable a user
            * Delete/Revoke/Disable credentials
            * Block indicators
      id: acbd4be2-6dbf-41f0-80ff-79f3946c76e5
      iscommand: false
      name: Cloud Response - Generic
      playbookId: Cloud Response - Generic
      type: playbook
      version: -1
    taskid: acbd4be2-6dbf-41f0-80ff-79f3946c76e5
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 1540
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      InternalRange:
        simple: inputs.InternalRange
      ResolveIP:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7750a275-1ce8-4d59-8cff-bb6ff0b3855b
      iscommand: false
      name: Cortex XDR - Cloud Enrichment
      playbookId: Cortex XDR - Cloud Enrichment
      type: playbook
      version: -1
    taskid: 7750a275-1ce8-4d59-8cff-bb6ff0b3855b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 720,
          "y": 370
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eedfe080-7857-4ecb-8ce0-666de083d2c5
      iscommand: false
      name: Enrichment & Investigation
      type: title
      version: -1
    taskid: eedfe080-7857-4ecb-8ce0-666de083d2c5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 720,
          "y": 240
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    quietmode: 0
    scriptarguments:
      alert_ids:
        complex:
          accessor: alert_id
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.name
              operator: isEqualString
              right:
                value:
                  simple: Unusual allocation of multiple cloud compute resources
          root: PaloAltoNetworksXDR.Incident.alerts
      extend-context:
        simple: alertData=
      ignore-outputs:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns information about each alert ID.
      id: 4aeb92ab-1bc1-479d-887c-a0551126fcab
      iscommand: true
      name: Fetch alert extra data
      script: '|||xdr-get-cloud-original-alerts'
      type: regular
      version: -1
    taskid: 4aeb92ab-1bc1-479d-887c-a0551126fcab
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 950,
          "y": -260
        }
      }
  "40":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: requireAnalystReview
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "54"
      "yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the analyst chose to wait for a manual review.
      id: 2024faa0-d3c5-4f42-8afe-9f2b41e849c6
      iscommand: false
      name: Should wait for the analyst's review?
      type: condition
      version: -1
    taskid: 2024faa0-d3c5-4f42-8afe-9f2b41e849c6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 1720
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "Yes":
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks manually with the user if the alert should be closed as
        True Positive.
      id: e2651306-89d2-4e28-840b-00c03776c09e
      iscommand: false
      name: Analyst review - Should close as True Positive?
      type: condition
      version: -1
    taskid: e2651306-89d2-4e28-840b-00c03776c09e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 730,
          "y": 1905
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 240de0f3-cc5d-4664-8f33-82915e7cf13b
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 240de0f3-cc5d-4664-8f33-82915e7cf13b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 420,
          "y": 2430
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: alertJson=
      ignore-outputs:
        simple: "true"
      input:
        complex:
          accessor: original_alert_json
          root: alertData.alerts.[0]
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Loads a JSON from the string input, and returns a JSON object result.
      id: 51df4d8f-7064-41be-837d-890b48eac4d0
      iscommand: false
      name: Load alert JSON
      script: LoadJSON
      type: regular
      version: -1
    taskid: 51df4d8f-7064-41be-837d-890b48eac4d0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 720,
          "y": -80
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 7b42c9f5-0154-4859-8581-eb2e74e97026
      iscommand: false
      name: Cortex XDR - Cryptomining - Set Verdict
      playbookId: Cortex XDR - Cryptomining - Set Verdict
      type: playbook
      version: -1
    taskid: 7b42c9f5-0154-4859-8581-eb2e74e97026
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 720,
          "y": 670
        }
      }
  "49":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: alertVerdict
          operator: isEqualString
          right:
            value:
              simple: Malicious
      label: Malicious
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: alertVerdict
          operator: isEqualString
          right:
            value:
              simple: userVerification
      label: User Verification
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Malicious:
      - "27"
      User Verification:
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the outcome of the alert Cryptomining - Set Verdict playbook.
      id: d063ebe3-900f-4192-8655-c564405a4bf8
      iscommand: false
      name: Check alert verdict
      type: condition
      version: -1
    taskid: d063ebe3-900f-4192-8655-c564405a4bf8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 720,
          "y": 830
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        complex:
          root: inputs.incident_id
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns additional data for the specified incident, for example,
        related alerts, file artifacts, network artifacts, and so on.
      id: e5effc52-c845-429e-885c-9d6b67cb31c9
      iscommand: true
      name: Fetch all of the incident alerts
      script: '|||xdr-get-incident-extra-data'
      type: regular
      version: -1
    taskid: e5effc52-c845-429e-885c-9d6b67cb31c9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": -260
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        complex:
          root: inputs.incident_id
      resolve_comment:
        simple: Resolved using Cortex XSOAR in incident id ${incident.investigationId}
      status:
        simple: RESOLVED_FALSE_POSITIVE
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Updates one or more fields of a specified incident. Missing fields
        will be ignored. To remove the assignment for an incident, pass a null value
        in the assignee email argument.
      id: fabacd91-66c2-4a93-8123-53c762fc9526
      iscommand: true
      name: Closer XDR incident as False Positive
      script: '|||xdr-update-incident'
      type: regular
      version: -1
    taskid: fabacd91-66c2-4a93-8123-53c762fc9526
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 1730
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "41"
      "Yes":
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks manually with the user if the alert should be closed as
        False Positive.
      id: 48b61f79-aec3-4b6d-8a0c-c96fac529a5a
      iscommand: false
      name: Should close as False Positive?
      type: condition
      version: -1
    taskid: 48b61f79-aec3-4b6d-8a0c-c96fac529a5a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 170,
          "y": 1550
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      type:
        simple: Cortex XDR - XCLOUD Cryptomining
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 868c69c2-a02a-43d8-81ae-a5683d2a69c7
      iscommand: true
      name: Set incident type
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 868c69c2-a02a-43d8-81ae-a5683d2a69c7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 720,
          "y": 80
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        complex:
          root: inputs.incident_id
      resolve_comment:
        simple: Resolved using Cortex XSOAR in incident id ${incident.investigationId}
      status:
        simple: RESOLVED_TRUE_POSITIVE
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Updates one or more fields of a specified incident. Missing fields
        will be ignored. To remove the assignment for an incident, pass a null value
        in the assignee email argument.
      id: 90b9d856-6168-44a6-86e7-17d739eb3a47
      iscommand: true
      name: Closer XDR incident as True Positive
      script: '|||xdr-update-incident'
      type: regular
      version: -1
    taskid: 90b9d856-6168-44a6-86e7-17d739eb3a47
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 730,
          "y": 2090
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: False Positive
      id:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: f1225f6e-dec8-471d-8db2-b8046815cdc0
      iscommand: true
      name: Close XSOAR incident as False Positive
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: f1225f6e-dec8-471d-8db2-b8046815cdc0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 1905
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: True Positive
      id:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 2cf86532-246e-40f3-8ba5-a272bde6a82d
      iscommand: true
      name: Close XSOAR incident as False Positive
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 2cf86532-246e-40f3-8ba5-a272bde6a82d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 730,
          "y": 2250
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "40_41_yes": 0.52,
      "40_54_#default#": 0.57,
      "41_43_#default#": 0.42,
      "41_54_Yes": 0.42,
      "49_27_Malicious": 0.62,
      "49_29_User Verification": 0.61,
      "52_41_#default#": 0.8,
      "52_51_Yes": 0.37
    },
    "paper": {
      "dimensions": {
        "height": 2895,
        "width": 1520,
        "x": 170,
        "y": -400
      }
    }
  }
