playbook/playbook-CrowdStrike_Falcon_-_True_Positive_Incident_Handling.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 1.12.8
    packID: CrowdStrikeFalcon
    packName: CrowdStrike Falcon
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook is part of the 'Malware Investigation And Response' pack.
  For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This playbook handles a CrowdStrike incident that was determined to be a true positive
  by the analyst. Actions include isolating the host, blocking the indicator by the
  EDR, and tagging it.
id: CrowdStrike Falcon - True Positive Incident Handling
inputs:
- description: The name of the ticketing system to use, for example Jira or ServiceNow.
  key: TicketingSystemToUse
  playbookInputQuery: null
  required: false
  value: {}
- description: The tag to assign for indicators to block.
  key: BlockIOCTagName
  playbookInputQuery: null
  required: false
  value: {}
- description: The ID of the host to use.
  key: HostID
  playbookInputQuery: null
  required: false
  value: {}
- description: |
    Whether automatic host isolation is allowed.
  key: AutoIsolation
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: The ticket project name (required for Jira).
  key: TicketProjectName
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Whether adding to the block list is global.
    If False, provide an input for the BlockHostGroup input with the group name.
  key: BlockMaliciousIOCGlobally
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The name of the allow list group to apply if BlockMaliciousIOCGlobally
    is set to False.
  key: BlockHostGroupName
  playbookInputQuery: null
  required: false
  value: {}
- description: The description to be used by the ticketing system.
  key: TicketDescription
  playbookInputQuery: null
  required: false
  value: {}
- description: The close notes to be listed in CrowdStrike.
  key: CloseNotes
  playbookInputQuery: null
  required: false
  value: {}
- description: The SHA256 value to manage.
  key: Sha256
  playbookInputQuery: null
  required: false
  value: {}
- description: The path for the file to remove.
  key: PathsForFilesToRemove
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Values can be
    Windows, Linux, Mac
  key: OperatingSystemToRemoveFrom
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input will provide you the ability to select IOCs to be hunted using the Threat Hunting - generic playbook.
    If false, it will hunt for all IOCs detected in the incident.
    Note: You can also insert "No Threat Hunting" to skip the Threat Hunting stage.
  key: ManuallyChooseIOCForHunting
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: IP value to hunt on.
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      filters:
      - - left:
            iscontext: true
            value:
              simple: IP.Address
          operator: isNotEmpty
      root: IP
      transformers:
      - operator: uniq
- description: MD5 file value to hunt upon.
  key: MD5
  playbookInputQuery: null
  required: false
  value:
    complex:
      filters:
      - - left:
            iscontext: true
            value:
              simple: File.MD5
          operator: isNotEmpty
      root: File.MD5
      transformers:
      - operator: uniq
- description: URL or Domain to hunt upon.
  key: URL_or_Domain
  playbookInputQuery: null
  required: false
  value:
    complex:
      filters:
      - - left:
            iscontext: true
            value:
              simple: Domain.Name
          operator: isNotEmpty
      root: Domain.Name
      transformers:
      - args:
          item:
            value:
              simple: URL.Data
        operator: append
      - operator: uniq
- description: File SHA1 value to hunt upon.
  key: FileSha1
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: SHA1
      root: File
      transformers:
      - args:
          item:
            iscontext: true
            value:
              simple: incident.filesha1
        operator: append
      - operator: uniq
name: CrowdStrike Falcon - True Positive Incident Handling
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 60d8e1b7-506b-4eb4-8fda-18bad595c297
      iscommand: false
      name: ""
      version: -1
    taskid: 60d8e1b7-506b-4eb4-8fda-18bad595c297
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 680,
          "y": -1540
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 528230b6-5ae3-48cf-8606-2352301ca550
      iscommand: false
      name: IT remediation
      type: title
      version: -1
    taskid: 528230b6-5ae3-48cf-8606-2352301ca550
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -150,
          "y": -140
        }
      }
  "2":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.TicketingSystemToUse
          operator: containsString
          right:
            value:
              simple: SNOW
        - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.TicketingSystemToUse
          operator: containsString
          right:
            value:
              simple: ServiceNow
      label: SNOW
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.TicketingSystemToUse
          operator: containsString
          right:
            value:
              simple: JIRA
      label: JIRA
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      JIRA:
      - "22"
      SNOW:
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the ticketing system input defined?
      id: 4a6c8a03-1490-4bb8-8807-ecacd73aea2c
      iscommand: false
      name: Is ticketing system input defined?
      type: condition
      version: -1
    taskid: 4a6c8a03-1490-4bb8-8807-ecacd73aea2c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -150,
          "y": 20
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: ${inputs.TicketDescription}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This script wraps the generic create-record command in ServiceNow.
        You can add fields you want to create the record with as script arguments or in the
        code.
      id: caccc895-7127-4fa4-8110-845a64208b14
      iscommand: false
      name: Open Snow ticket
      script: ServiceNowCreateIncident
      type: regular
      version: -1
    taskid: caccc895-7127-4fa4-8110-845a64208b14
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -360,
          "y": 735
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 637c7650-e6bc-4d8b-87ef-f30dc0aea1e3
      iscommand: false
      name: Done IT Remediation
      type: title
      version: -1
    taskid: 637c7650-e6bc-4d8b-87ef-f30dc0aea1e3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -150,
          "y": 920
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8487b040-6d7c-4baf-85e9-07f0d6e7aed0
      iscommand: false
      name: Block Indicators
      type: title
      version: -1
    taskid: 8487b040-6d7c-4baf-85e9-07f0d6e7aed0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1330,
          "y": 30
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: prevent
      applied_globally:
        simple: "true"
      description:
        simple: due to XSOAR incident ${incident.id}
      ioc_type:
        simple: sha256
      platforms:
        simple: mac,windows,linux
      value:
        simple: ${Indicators to block.Answers.0}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Uploads an indicator for CrowdStrike to monitor.
      id: 161ac39a-06c1-4fc7-87c0-a6cee8d13ad2
      iscommand: true
      name: Block IOC globally
      script: '|||cs-falcon-upload-custom-ioc'
      type: regular
      version: -1
    taskid: 161ac39a-06c1-4fc7-87c0-a6cee8d13ad2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 620,
          "y": 760
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      indicatorsValues:
        simple: ${Indicators to block.Answers.0}
      tags:
        simple: ${inputs.BlockIOCTagName}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.indicators
      id: 4e6cdd2e-5ef1-49a9-8905-aa8088bbc0c0
      iscommand: true
      name: Tag Indicators
      script: Builtin|||setIndicators
      type: regular
      version: -1
    taskid: 4e6cdd2e-5ef1-49a9-8905-aa8088bbc0c0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1550,
          "y": 510
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c3de6e2f-bbdf-4188-8e76-abe9627130e1
      iscommand: false
      name: Done Block Indicators
      type: title
      version: -1
    taskid: c3de6e2f-bbdf-4188-8e76-abe9627130e1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1330,
          "y": 930
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f4f02e90-8c80-47e0-8544-136691f10752
      iscommand: false
      name: True Positive Incident Closing
      type: title
      version: -1
    taskid: f4f02e90-8c80-47e0-8544-136691f10752
    timertriggers:
    - action: stop
      fieldname: containmentsla
    - action: stop
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 730,
          "y": 1080
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d0c30917-314b-4f3c-8334-befe4a17b7cc
      iscommand: false
      name: Done True Positive
      type: title
      version: -1
    taskid: d0c30917-314b-4f3c-8334-befe4a17b7cc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 730,
          "y": 1540
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      ids:
        simple: ${incident.externalsystemid}
      status:
        simple: Closed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Resolves the CrowdStrike Falcon incident.
      id: bfacf224-5d44-475f-8704-2a208fc11e17
      iscommand: true
      name: Resolve CS incident
      script: '|||cs-falcon-resolve-incident'
      type: regular
      version: -1
    taskid: bfacf224-5d44-475f-8704-2a208fc11e17
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 530,
          "y": 1370
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      comment:
        simple: ${inputs.CloseNotes}
      ids:
        simple: ${incident.externalsystemid}
      status:
        simple: true_positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Resolves and updates a CrowdStrike Falcon detection using the provided
        arguments. At least one optional argument must be passed, otherwise no change
        will take place.
      id: 91e0201f-ece7-46ad-8708-c95cf1ac8399
      iscommand: true
      name: Resolve CS detection
      script: '|||cs-falcon-resolve-detection'
      type: regular
      version: -1
    taskid: 91e0201f-ece7-46ad-8708-c95cf1ac8399
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 1370
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.externalcategoryname
          operator: isEqualString
          right:
            value:
              simple: incident
      label: incident
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.externalcategoryname
          operator: isEqualString
          right:
            value:
              simple: detection
      label: detection
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      detection:
      - "15"
      incident:
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was this an incident or alert?
      id: 13e4742d-d344-4795-874e-bfe7f3d19013
      iscommand: false
      name: Was this an incident or alert?
      type: condition
      version: -1
    taskid: 13e4742d-d344-4795-874e-bfe7f3d19013
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 730,
          "y": 1200
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "3"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: ServiceNow v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the ServiceNow integration is enabled.
      id: 90d0d8ac-75b4-41ce-81ce-f6639d1c695f
      iscommand: false
      name: Is ServiceNow Available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 90d0d8ac-75b4-41ce-81ce-f6639d1c695f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -360,
          "y": 320
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "38"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: jira-v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the Jira integration is available.
      id: ee436f66-fde3-4caa-8730-2ddf0425a959
      iscommand: false
      name: Is Jira Available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: ee436f66-fde3-4caa-8730-2ddf0425a959
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 60,
          "y": 320
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      file_path:
        simple: ${Select the file path to remove.Answers.0}
      host_ids:
        simple: ${inputs.HostID}
      os:
        simple: ${inputs.OperatingSystemToRemoveFrom}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Batch executes RTR Active Responder to remove a file across the
        hosts mapped to a specific batch ID.
      id: ea9fd0b1-fd0a-4987-89d3-5432b5ef7e74
      iscommand: true
      name: Remove file
      script: '|||cs-falcon-rtr-remove-file'
      type: regular
      version: -1
    taskid: ea9fd0b1-fd0a-4987-89d3-5432b5ef7e74
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2020,
          "y": 510
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 12197a47-0fc1-47bb-84fa-566e4b2b066c
      iscommand: false
      name: Remove File
      type: title
      version: -1
    taskid: 12197a47-0fc1-47bb-84fa-566e4b2b066c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1780,
          "y": -140
        }
      }
  "26":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Select the file path to remove
        options: []
        optionsarg:
        - simple: ${inputs.PathsForFilesToRemove}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Select the file path to remove
      totalanswers: 0
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Provide path to remove file from
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Allow to remove file.
      id: d8b21ec7-c705-41d5-8ecc-1ea808f01ce9
      iscommand: false
      name: Allow to remove file
      type: collection
      version: -1
    taskid: d8b21ec7-c705-41d5-8ecc-1ea808f01ce9
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1780,
          "y": 145
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4ff0b30c-fdfa-46e5-80bc-aa7382e45ddb
      iscommand: false
      name: Done File Removal
      type: title
      version: -1
    taskid: 4ff0b30c-fdfa-46e5-80bc-aa7382e45ddb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1780,
          "y": 920
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      Device_id:
        simple: ${inputs.HostID}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook auto isolates endpoints by the device ID provided
        in the playbook.
      id: e8f22502-f0dd-4c13-899a-9f94b25f38b3
      iscommand: false
      name: Crowdstrike Falcon - Isolate Endpoint
      playbookId: Crowdstrike Falcon - Isolate Endpoint
      type: playbook
      version: -1
    taskid: e8f22502-f0dd-4c13-899a-9f94b25f38b3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 300,
          "y": 510
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 30545134-219f-4588-8646-c807f9cc56f1
      iscommand: false
      name: 'Isolate '
      type: title
      version: -1
    taskid: 30545134-219f-4588-8646-c807f9cc56f1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 300,
          "y": 30
        }
      }
  "30":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.AutoIsolation
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is auto isolation allowed?
      id: 8e581b19-c104-4a84-8851-61776c01bd69
      iscommand: false
      name: Is auto isolation allowed?
      type: condition
      version: -1
    taskid: 8e581b19-c104-4a84-8851-61776c01bd69
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 300,
          "y": 150
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      id: e3b76903-336e-4ae4-8c55-d65c7601a0ed
      iscommand: false
      name: Done Isolation
      type: title
      version: -1
    taskid: e3b76903-336e-4ae4-8c55-d65c7601a0ed
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 300,
          "y": 930
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        complex:
          root: inputs.TicketDescription
      projectKey:
        complex:
          root: inputs.TicketProjectName
      summary:
        simple: ${inputs.TicketDescription}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Creates a new issue in Jira.
      id: 952f7817-17c5-4136-8935-7d8aa53729b4
      iscommand: true
      name: Create Jira issue
      script: '|||jira-create-issue'
      type: regular
      version: -1
    taskid: 952f7817-17c5-4136-8935-7d8aa53729b4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": 735
        }
      }
  "41":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.BlockMaliciousIOCGlobally
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: Globally
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.BlockMaliciousIOCGlobally
          operator: isNotEqualString
          right:
            value:
              simple: "true"
      - - left:
            iscontext: true
            value:
              simple: inputs.BlockHostGroupName
          operator: isNotEmpty
      label: Host Group
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      Globally:
      - "8"
      Host Group:
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is an IOC allowed to be added globally?
      id: cc973a32-27d9-40c0-8906-5f60c3c0aa41
      iscommand: false
      name: Is IOC allowed to be added globally?
      type: condition
      version: -1
    taskid: cc973a32-27d9-40c0-8906-5f60c3c0aa41
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 510
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: prevent
      description:
        simple: due to XSOAR incident ${incident.id}
      host_groups:
        simple: ${inputs.BlockHostGroupName}
      ioc_type:
        simple: sha256
      platforms:
        simple: mac,windows,linux
      value:
        simple: ${Indicators to block.Answers.0}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Uploads an indicator for CrowdStrike to monitor.
      id: 41a97e56-51c9-4a73-8c81-fc993dd7d9b7
      iscommand: true
      name: Block IOC for host group
      script: '|||cs-falcon-upload-custom-ioc'
      type: regular
      version: -1
    taskid: 41a97e56-51c9-4a73-8c81-fc993dd7d9b7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1020,
          "y": 760
        }
      }
  "45":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Mark the indicators to block
        options: []
        optionsarg:
        - simple: ${inputs.Sha256}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Indicators to block
      totalanswers: 0
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirm which indicators to block.
      id: 4d39776a-0a20-4914-8ce7-b9278e6af590
      iscommand: false
      name: Confirm Indicators to block
      type: collection
      version: -1
    taskid: 4d39776a-0a20-4914-8ce7-b9278e6af590
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1330,
          "y": 150
        }
      }
  "49":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: "1"
          operator: isEqualString
          right:
            value:
              simple: "1"
      label: "yes"
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "41"
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Were values provided?
      id: 5fd58b06-c350-42d4-808e-3f60fd486eb0
      iscommand: false
      name: Were values provided?
      type: condition
      version: -1
    taskid: 5fd58b06-c350-42d4-808e-3f60fd486eb0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1330,
          "y": 315
        }
      }
  "50":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Select the file path to remove.Answers.0
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Were values provided?
      id: 7c0e698e-f3ea-4023-8537-307b8686cdce
      iscommand: false
      name: Were values provided?
      type: condition
      version: -1
    taskid: 7c0e698e-f3ea-4023-8537-307b8686cdce
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1780,
          "y": 315
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 23df4ffd-d9a8-46de-8ddd-c7636214fcd6
      iscommand: false
      name: Containment
      type: title
      version: -1
    taskid: 23df4ffd-d9a8-46de-8ddd-c7636214fcd6
    timertriggers:
    - action: stop
      fieldname: containmentsla
    type: title
    view: |-
      {
        "position": {
          "x": 680,
          "y": -130
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 709281d2-d2cf-43c9-89fc-079637d3cfcd
      iscommand: false
      name: Threat Hunting
      type: title
      version: -1
    taskid: 709281d2-d2cf-43c9-89fc-079637d3cfcd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 680,
          "y": -1410
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "51"
      - "1"
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b6c24197-1552-453c-8a3f-90b64f028384
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: b6c24197-1552-453c-8a3f-90b64f028384
    timertriggers:
    - action: start
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 680,
          "y": -280
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    scriptarguments:
      IPAddress:
        complex:
          root: inputs.IP
          transformers:
          - operator: uniq
      MD5:
        complex:
          root: inputs.MD5
          transformers:
          - operator: uniq
      QRadarTimeFrame:
        simple: LAST 7 DAYS
      SHA1:
        complex:
          root: inputs.FileSha1
          transformers:
          - operator: uniq
      SHA256:
        complex:
          root: inputs.Sha256
          transformers:
          - operator: uniq
      SplunkEarliestTime:
        simple: -7d@d
      SplunkLatestTime:
        simple: now
      URLDomain:
        complex:
          root: inputs.URL_or_Domain
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook enables threat hunting for IOCs in your enterprise.
        It currently supports the following integrations: - Splunk\n- Qradar\n- Pan-os
        \n- Cortex data lake \n- Autofocus\n- Microsoft 365 Defender"
      id: b13b90b8-340b-4a49-8ee2-2ba6caa41d24
      iscommand: false
      name: Threat Hunting - Generic
      playbookId: Threat Hunting - Generic
      type: playbook
      version: -1
    taskid: b13b90b8-340b-4a49-8ee2-2ba6caa41d24
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": -940
        }
      }
  "58":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.ManuallyChooseIOCForHunting
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.ManuallyChooseIOCForHunting
          operator: containsGeneral
          right:
            value:
              simple: No Threat Hunting
      label: No Hunting
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "57"
      No Hunting:
      - "56"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should the analyst choose the indicators to hunt?
      id: 24e4fff5-2859-40a3-81f9-be6122e90c8c
      iscommand: false
      name: Should the analyst choose the indicators to hunt?
      type: condition
      version: -1
    taskid: 24e4fff5-2859-40a3-81f9-be6122e90c8c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 680,
          "y": -1280
        }
      }
  "59":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Which IPs should be hunted for?
        options: []
        optionsarg:
        - complex:
            accessor: Address
            root: inputs.IP
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Which SHA256 files should be hunted for?
        options: []
        optionsarg:
        - complex:
            root: inputs.Sha256
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Which SHA1 files should be hunted for?
        options: []
        optionsarg:
        - complex:
            root: inputs.FileSha1
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: Which MD5 files should be hunted for?
        options: []
        optionsarg:
        - complex:
            root: inputs.MD5
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "4"
        label: ""
        labelarg:
          simple: Which URLs/Domains should be hunted for?
        options: []
        optionsarg:
        - complex:
            root: inputs.URL_or_Domain
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Specify IOCs to hunt upon.
      totalanswers: 0
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: Specify IOCs to hunt upon.
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Specify the IOCs to hunt upon.
      id: 0c47668b-0f43-40d1-831c-8c3f86362135
      iscommand: false
      name: Specify IOCs to hunt upon
      type: collection
      version: -1
    taskid: 0c47668b-0f43-40d1-831c-8c3f86362135
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 60,
          "y": -1110
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    scriptarguments:
      entryIDs:
        simple: ${lastCompletedTaskEntries}
      tags:
        simple: Found additional assets
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Adds provided entries to the incident Evidence Board. In a playbook, can be positioned after a task to add the previous task's entries to the Evidence Board automatically (with no need to provide arguments).
      id: 28b97ace-2059-4760-8159-ec1d11324b27
      iscommand: false
      name: Tag the threat hunting results as Evidence
      script: AddEvidence
      type: regular
      version: -1
    taskid: 28b97ace-2059-4760-8159-ec1d11324b27
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 260,
          "y": -600
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        simple: Found additional assets
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 00cbf3d6-d902-43bc-8143-2b9424c0921e
      iscommand: true
      name: Add a 'Found additional assets' tag to the incident
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 00cbf3d6-d902-43bc-8143-2b9424c0921e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 260,
          "y": -450
        }
      }
  "62":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Splunk
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: PANWHunting
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: Microsoft365Defender
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: QRadar
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "56"
      "yes":
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Are there any results?
      id: 85ea8691-b944-4f2a-8758-f61739c38421
      iscommand: false
      name: Are there any results?
      type: condition
      version: -1
    taskid: 85ea8691-b944-4f2a-8758-f61739c38421
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": -770
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    scriptarguments:
      IPAddress:
        simple: ${Specify IOCs to hunt upon.Answers.0}
      MD5:
        simple: ${Specify IOCs to hunt upon.Answers.3}
      QRadarTimeFrame:
        simple: LAST 7 DAYS
      SHA1:
        simple: ${Specify IOCs to hunt upon.Answers.2}
      SHA256:
        simple: ${Specify IOCs to hunt upon.Answers.1}
      SplunkEarliestTime:
        simple: -7d@d
      SplunkLatestTime:
        simple: now
      URLDomain:
        simple: ${Specify IOCs to hunt upon.Answers.4}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook enables threat hunting for IOCs in your enterprise.
        It currently supports the following integrations: - Splunk\n- Qradar\n- Pan-os
        \n- Cortex data lake \n- Autofocus\n- Microsoft 365 Defender"
      id: e8490b20-18fd-40e1-8bc1-87b1d980bb0d
      iscommand: false
      name: Threat Hunting - Generic
      playbookId: Threat Hunting - Generic
      type: playbook
      version: -1
    taskid: e8490b20-18fd-40e1-8bc1-87b1d980bb0d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 60,
          "y": -940
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Approve isolation
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#default#':
      - "31"
      "Yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Approve isolation
      id: a9e3db15-a7f5-460a-8a50-57ea9fbc56ee
      iscommand: false
      name: Approve isolation
      type: condition
      version: -1
    taskid: a9e3db15-a7f5-460a-8a50-57ea9fbc56ee
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": 320
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "41_10_#default#": 0.6
    },
    "paper": {
      "dimensions": {
        "height": 3145,
        "width": 2760,
        "x": -360,
        "y": -1540
      }
    }
  }
