playbook/playbook-Phishing_-_ARES_-_ServiceNow_Abnormal.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.1.0
    itemVersion: 3.3.8
    packID: ""
    packName: Phishing
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: "This playbook investigates and remediates a potential phishing incident.
  It engages with the user who triggered the incident while investigating the incident
  itself.\n\nNote: \n- Final remediation tasks are always decided by a human analyst.
  \n- Please do not rerun this playbook inside a phishing incident since it can produce
  an unexpected result. Create a new incident instead if needed."
id: 92896f5b-c9c9-4541-8d32-dd8752bb03b5
inputs:
- description: The default role to assign the incident to.
  key: Role
  playbookInputQuery: null
  required: true
  value:
    simple: Administrator
- description: |-
    Enables the Search and Delete capability.
    For a malicious email, the "Search and Delete" sub-playbook looks for other instances of the email and deletes them pending analyst approval.
  key: SearchAndDelete
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Enables the Block Indicators capability.
    For a malicious email, the "Block Indicators" sub-playbook blocks all malicious indicators in the relevant integrations.
  key: BlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Determines whether the authenticity of the email should be verified
    using SPF, DKIM, and DMARC.
  key: AuthenticateEmail
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to assign only the user that is currently on shift.
  key: OnCall
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Determines which product and playbook is used to search and delete the phishing email from user inboxes.
      - Set this to "O365" to use the "O365 - Security And Compliance - Search And Delete" playbook.
      - Set this to "EWS" to use the "Search And Delete Emails - EWS" playbook.
      - Set this to "Gmail" to use the "Search And Delete - Gmail" playbook.
  key: SearchAndDeleteIntegration
  playbookInputQuery: null
  required: false
  value:
    simple: EWS
- description: |-
    Sets the method to delete emails in the "O365 - Security And Compliance - Search And Delete" playbook. Can be "Soft" (recoverable), or "Hard" (unrecoverable). Leave empty to decide manually for each email incident.
    This is only applicable if the SearchAndDeleteIntegration input is set to "O365".
  key: O365DeleteType
  playbookInputQuery: null
  required: false
  value:
    simple: Soft
- description: The exchange location. Determines from where to search and delete emails
    using O365 playbooks. Use the value "All" to search all mailboxes. If no input
    provided, it will search and delete the email only from the recipient's mailboxes.
    Note - Searching all mailboxes may take a significant amount of time. This input
    is used only when searching and deleting emails in O365 and only applies if the
    SearchAndDeleteIntegration input is set to O365.
  key: O365ExchangeLocation
  playbookInputQuery: null
  required: false
  value: {}
- description: Used only when searching and deleting emails in O365. Determines whether
    to include mailboxes other than regular user mailboxes in the compliance search.
  key: O365AllowNotFoundSearchLocations
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Used only when searching and deleting emails in O365. A comma-separated
    list of mailboxes/distribution groups to exclude when you use the value "All"
    for the O365ExchangeLocation input.
  key: O365ExchangeLocationExclusion
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to check Microsoft headers for BCL/PCL/SCL scores and set the
    "Severity" and "Email Classification" accordingly.
  key: CheckMicrosoftHeaders
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: A CSV list of internal domains. The list is used to determine whether
    an email address is internal or external.
  key: InternalDomains
  playbookInputQuery: null
  required: false
  value: {}
- description: Determines whether to use the "URL Detonation" playbook. Detonating
    a URL may take a few minutes.
  key: DetonateURL
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    This input is used in the "Entity Enrichment - Phishing v2" playbook.
    A list of internal IP ranges to check IP addresses against. The list should be provided in CIDR notation, separated by commas. An example of a list of ranges is: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes). If a list is not provided, uses the default list provided in the IsIPInRanges script (the known IPv4 private address ranges).
  key: InternalRange
  playbookInputQuery: null
  required: false
  value: {}
- description: Optional - the name of a pre-trained phishing model to predict phishing
    type using machine learning.
  key: PhishingModelName
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    For forwarded emails. When "True", retrieves the original email in the thread.

    You must have the necessary permissions in your email service to execute global search.

    - For EWS: eDiscovery
    - For Gmail: Google Apps Domain-Wide Delegation of Authority
    - For MSGraph: As described in these links
    https://docs.microsoft.com/en-us/graph/api/message-get
    https://docs.microsoft.com/en-us/graph/api/user-list-messages
  key: GetOriginalEmail
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: |-
    The number of URLs to extract from the email HTML and analyze in the "DBotPredictURLPhishing" automation.
    This automation runs several checks to determine the score of the URLs found in the email, sets a verdict for URLs found as "Suspicious" or "Malicious", and adds these URLs as indicators. Based on the verdict, the incident severity is set (Medium for "Suspicious" and High for "Malicious").
    Note:
    - You need to install the "Phishing URL" pack to use this automation.
    - False/True positives are possible.
    - This automation may take a few minutes to run.
    - To increase result accuracy, it is recommended to install and enable the "Whois" pack (optional).
  key: DBotPredictURLPhishingURLsNumber
  playbookInputQuery: null
  required: false
  value:
    simple: "3"
- description: |-
    Reported emails and emails retrieved during playbook execution can contain multiple nested email files. For example, an EML nested inside another EML file.
    If multiple level files are detected, this field determines which file represents the phishing email.

    For example:
    User1 receives an email from Attacker. User1 attaches the email as an EML file and sends the email to User2.
    User2 also attaches that email as a file, and reports it as phishing. In this case, the phishing email would be the "inner file" (as opposed to "outer file").

    Possible values are: Inner file, Outer file, All files.
    Inner file: The file at the deepest level is parsed. If there is only one file, that file is parsed.
    Outer file: The file at the first level is parsed.
    All files: All files are parsed. Do not use this option in the phishing playbook, as there should only be one phishing email per playbook run.
  key: EmailFileToExtract
  playbookInputQuery: null
  required: false
  value:
    simple: Inner file
name: Phishing - ARES - ServiceNow Abnormal
outputs: []
sourceplaybookid: Phishing - Generic v3
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "183"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1c9eab31-4d4b-4354-838c-8aacd6d405f4
      iscommand: false
      name: ""
      version: -1
    taskid: 1c9eab31-4d4b-4354-838c-8aacd6d405f4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -1100
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      onCall:
        complex:
          root: inputs.OnCall
          transformers:
          - operator: toLowerCase
      roles:
        complex:
          root: inputs.Role
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Assigns the incident to an analyst based on the analyst's organizational
        role.
      id: f79af99b-60a0-45c5-87ad-21476f6e1e6f
      iscommand: false
      name: Assign to analyst
      script: AssignAnalystToIncident
      type: regular
      version: -1
    taskid: f79af99b-60a0-45c5-87ad-21476f6e1e6f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2560
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Reviews the incident to determine if the email that the user reported
        is malicious.
      id: 9d63d132-d871-45ee-84b5-a6710660fc4b
      iscommand: false
      name: Manually review the incident
      type: regular
      version: -1
    taskid: 9d63d132-d871-45ee-84b5-a6710660fc4b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -770,
          "y": 3055
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    reputationcalc: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Closes the investigation.
      id: 14042897-c171-4d2b-8a6d-7906325f20a0
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 14042897-c171-4d2b-8a6d-7906325f20a0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -947.5,
          "y": 5610
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 70edce3f-4465-495d-82b9-d3fe5234b0a8
      iscommand: false
      name: Triage
      type: title
      version: -1
    taskid: 70edce3f-4465-495d-82b9-d3fe5234b0a8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": 300
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      body:
        simple: "Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.incident.reporteremailaddress;
          var reporter = val.incident.reporteremailaddress; var account = val.Account
          && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email
          \ === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter)
          > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter
          || ''; }(val)},\nWe've received your email and are investigating.\nPlease
          do not touch the email until further notice.\n\nCordially, \n  Your friendly
          neighborhood security team"
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Sends an auto-response to the user reporting the incident that the incident was received and is being handled.
      id: a26f0dd9-a218-455a-8811-4f8b8719b1e2
      iscommand: true
      name: Acknowledge incident was received
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: a26f0dd9-a218-455a-8811-4f8b8719b1e2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 940,
          "y": 695
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.severity
          operator: greaterThanOrEqual
          right:
            value:
              simple: "2"
      label: Malicious
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "31"
      Malicious:
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the email is malicious based on the calculated severity.
      id: 97fcf09c-1221-4d37-84d9-329d82d086bf
      iscommand: false
      name: Is the email malicious?
      type: condition
      version: -1
    taskid: 97fcf09c-1221-4d37-84d9-329d82d086bf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2735
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      body:
        simple: |-
          Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.incident.reporteremailaddress; var reporter = val.incident.reporteremailaddress; var account = val.Account && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter) > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter || ''; }(val)},
          We've concluded that the email you forwarded to us is safe. In case you think the verdict is not accurate and the email is suspicious, please contact our SOC team.
          Thank you for your alertness and your participation in keeping our organization secure.

          Cordially,
            Your security team
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email to the user explaining that the email they reported
        is safe.
      id: f8025f90-532b-46e7-8030-1db8b0b499b7
      iscommand: true
      name: Update the user that the reported email is safe
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: f8025f90-532b-46e7-8030-1db8b0b499b7
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": -1230,
          "y": 3610
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d50f7984-632e-4d19-8dd7-4b894e8b0e1e
      iscommand: false
      name: Engage with User
      type: title
      version: -1
    taskid: d50f7984-632e-4d19-8dd7-4b894e8b0e1e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 940,
          "y": 300
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 92785e04-fe4f-4fe5-8a94-6114bccc3108
      iscommand: false
      name: Detonate File - Generic
      playbookId: Detonate File - Generic
      type: playbook
      version: -1
    taskid: 92785e04-fe4f-4fe5-8a94-6114bccc3108
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 200,
          "y": 600
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
      - "22"
      - "88"
      - "137"
    note: false
    quietmode: 0
    scriptarguments:
      Email:
        complex:
          accessor: emailto
          root: incident
      EmailCC:
        complex:
          accessor: emailcc
          root: incident
      EmailFileToExtract:
        complex:
          root: inputs.EmailFileToExtract
      EmailFormat:
        complex:
          accessor: emailformat
          root: incident
      EmailFrom:
        complex:
          accessor: emailfrom
          root: incident
      EmailHeaders:
        complex:
          accessor: phishingreporteremailheaders
          root: incident
      EmailHtml:
        complex:
          accessor: emailhtml
          root: incident
      EmailSubject:
        complex:
          accessor: emailsubject
          root: incident
      EmailText:
        complex:
          accessor: emailbody
          root: incident
      File:
        complex:
          root: File
      GetOriginalEmail:
        complex:
          root: inputs.GetOriginalEmail
      MessageID:
        complex:
          accessor: emailmessageid
          root: incident
      Thread-Topic:
        complex:
          accessor: emailsubject
          root: incident
      UserID:
        complex:
          accessor: reporteremailaddress
          root: incident
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        This playbook adds email details to the relevant context entities and handles original email attachments.

        The v2 playbook enables parsing email artifacts more efficiently, including:
        - Using incident fields and not incident labels.
        - Providing separate paths to "Phishing Alerts".
        - Using the new "Get Original Email - Generic v2" playbook to retrieve original emails as EML files from the following integrations:
          * EWS v2
          * Microsoft Graph Mail integration
          * Gmail
          * FireEye EX and FireEye CM
          * Proofpoint Protection Server
          * Agari Phishing Defense (EWS v2, MSGraph Mail, Gmail)
          * Mimecast
      id: 0f2d99ce-8564-484b-8e42-28dfdc48eb74
      iscommand: false
      name: Process Email - Generic v2
      playbookId: Process Email - Generic v2
      type: playbook
      version: -1
    taskid: 0f2d99ce-8564-484b-8e42-28dfdc48eb74
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": 430
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
      - "98"
      - "99"
      - "164"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1ab213f7-adce-4044-886f-b978e48b2221
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: 1ab213f7-adce-4044-886f-b978e48b2221
    timertriggers:
    - action: start
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 3850
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      AttachmentName:
        complex:
          accessor: attachmentname
          root: incident
      From:
        complex:
          accessor: reportedemailfrom
          root: incident
          transformers:
          - operator: ExtractEmailTransformer
      O365AllowNotFoundExchangeLocations:
        complex:
          root: inputs.O365AllowNotFoundSearchLocations
      O365DeleteType:
        complex:
          root: inputs.O365DeleteType
      O365ExchangeLocation:
        complex:
          root: .
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: incident.reportedemailto
              equals: {}
              lhs:
                iscontext: true
                value:
                  simple: inputs.O365ExchangeLocation
              options: {}
              rhs:
                value:
                  simple: All
              then:
                value:
                  simple: All
            operator: If-Then-Else
      O365ExchangeLocationExclusion:
        complex:
          root: inputs.O365ExchangeLocationExclusion
      O365KQL:
        simple: from:${incident.reportedemailfrom} AND subject:"${incident.reportedemailsubject}"
      SearchAndDeleteIntegration:
        complex:
          root: inputs.SearchAndDeleteIntegration
      SearchThisWeek:
        simple: "true"
      Subject:
        complex:
          accessor: emailsubject
          root: incident
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: 'This playbook searches and deletes emails with similar attributes
        of a malicious email using one of the following integrations: * EWS * Office
        365 * Gmail * Agari Phishing Defense'
      id: e9957d01-f1b9-4810-8a4c-4477dba5bf97
      iscommand: false
      name: Search And Delete Emails - Generic v2
      playbookId: Search And Delete Emails - Generic v2
      type: playbook
      version: -1
    taskid: e9957d01-f1b9-4810-8a4c-4477dba5bf97
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 4875
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c80d3987-05fd-491f-8989-313474597c85
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: c80d3987-05fd-491f-8989-313474597c85
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -947.5,
          "y": 6080
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "149"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5d635b12-ebc2-4152-8f67-66e3dc7fbdc6
      iscommand: false
      name: Email Is Malicious
      type: title
      version: -1
    taskid: 5d635b12-ebc2-4152-8f67-66e3dc7fbdc6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 2910
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 01f871f9-d692-411e-800f-69f413a7ef95
      iscommand: false
      name: Undetermined
      type: title
      version: -1
    taskid: 01f871f9-d692-411e-800f-69f413a7ef95
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -770,
          "y": 2910
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "151"
      "yes":
      - "149"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the email that the user reported malicious?
      id: 829d7c1c-a0d2-4d63-87bd-7300c7b83c2c
      iscommand: false
      name: Is the email malicious?
      type: condition
      version: -1
    taskid: 829d7c1c-a0d2-4d63-87bd-7300c7b83c2c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -770,
          "y": 3220
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "To manually remediate a phishing incident you need to:\n1. Search
        for and delete similar emails.\n2. Inform the organization about the threat.\n3.
        Hunt relevant IOCs.\n4. Update proxies and firewalls as necessary.\n5. Block
        the malicious sender/domain in the mail-gateway. "
      id: b9808e71-5cf6-47ff-82ae-fcc4cad385b3
      iscommand: false
      name: Manually remediate  the incident
      type: regular
      version: -1
    taskid: b9808e71-5cf6-47ff-82ae-fcc4cad385b3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -250,
          "y": 4180
        }
      }
  "36":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.SearchAndDelete
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "Yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "Yes":
      - "152"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the **SearchAndDelete** playbook input is set to
        True.
      id: dc1fde98-eb3b-45ba-87c8-469ee0f8a6eb
      iscommand: false
      name: Should emails be searched and deleted?
      type: condition
      version: -1
    taskid: dc1fde98-eb3b-45ba-87c8-469ee0f8a6eb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 4180
        }
      }
  "37":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.BlockIndicators
                    operator: isEqualString
                    right:
                      value:
                        simple: "True"
                root: inputs.BlockIndicators
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "91"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the **BlockIndicators** playbook input is set to
        True.
      id: 2a66d950-4c69-4bab-874b-fa4eb6b61c46
      iscommand: false
      name: Should indicators be blocked automatically?
      type: condition
      version: -1
    taskid: 2a66d950-4c69-4bab-874b-fa4eb6b61c46
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 950,
          "y": 4180
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "161"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c24b270-5acf-480b-8be6-5a4fc20e53a1
      iscommand: false
      name: Phishing Response
      type: title
      version: -1
    taskid: 0c24b270-5acf-480b-8be6-5a4fc20e53a1
    timertriggers:
    - action: start
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -370
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fd570eed-f65c-4818-8b7f-a63367a2fdc9
      iscommand: false
      name: Stop Remediation Timer
      type: title
      version: -1
    taskid: fd570eed-f65c-4818-8b7f-a63367a2fdc9
    timertriggers:
    - action: stop
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 740,
          "y": 5360
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e19ea854-7649-4322-8b3a-74b9b78884d1
      iscommand: false
      name: Indicator Enrichment
      type: title
      version: -1
    taskid: e19ea854-7649-4322-8b3a-74b9b78884d1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1150
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      Email:
        complex:
          accessor: reporteremailaddress
          root: incident
          transformers:
          - operator: uniq
      InternalDomains:
        complex:
          root: inputs.InternalDomains
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich email addresses.
        - Get information from Active Directory for internal addresses
        - Get the domain-squatting reputation for external addresses
      id: 80a067d7-c029-492e-8089-69ceaf421a20
      iscommand: false
      name: Email Address Enrichment - Generic v2.1
      playbookId: Email Address Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 80a067d7-c029-492e-8089-69ceaf421a20
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 940,
          "y": 450
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "160"
      - "162"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook extracts indicators from a file.
        Supported file types:
        - CSV
        - PDF
        - TXT
        - HTM, HTML
        - DOC, DOCX
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: 6b0f783b-6c33-4a6e-8707-95088024719d
      iscommand: false
      name: Extract Indicators From File - Generic v2
      playbookId: Extract Indicators From File - Generic v2
      type: playbook
      version: -1
    taskid: 6b0f783b-6c33-4a6e-8707-95088024719d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -720,
          "y": 600
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "101"
      - "80"
      - "131"
      - "154"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: abafdec4-b6e8-43e9-8e17-27aeffb760db
      iscommand: false
      name: Investigation
      type: title
      version: -1
    taskid: abafdec4-b6e8-43e9-8e17-27aeffb760db
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1480
        }
      }
  "79":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.AuthenticateEmail
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HeadersMap
                root: Email
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email should be authenticated using DKIM, SPF,
        and DMARC. This checks if "AuthenticateEmail" output is set to "True" and
        if there are headers from an email to authenticate.
      id: 47dabffc-4906-4653-8662-0481264f6d53
      iscommand: false
      name: Should the email be authenticated?
      type: condition
      version: -1
    taskid: 47dabffc-4906-4653-8662-0481264f6d53
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 390,
          "y": 1765
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 34bb0a2e-9cd1-4c26-8041-052d3918efad
      iscommand: false
      name: Email Authenticity Check
      type: title
      version: -1
    taskid: 34bb0a2e-9cd1-4c26-8041-052d3918efad
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 390,
          "y": 1620
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "83"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      headers:
        complex:
          accessor: Headers
          root: Email
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the authenticity of an email based on the email's SPF, DMARC,
        and DKIM.
      id: c163ac26-364d-4dd4-839f-5bc52c3c99fc
      iscommand: false
      name: Authenticate email
      script: CheckEmailAuthenticity
      type: regular
      version: -1
    taskid: c163ac26-364d-4dd4-839f-5bc52c3c99fc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 392.5,
          "y": 1950
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      emailauthenticitycheck:
        complex:
          accessor: AuthenticityCheck
          root: Email
          transformers:
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Undetermined
              toReplace:
                value:
                  simple: undetermined
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Pass
              toReplace:
                value:
                  simple: pass
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Fail
              toReplace:
                value:
                  simple: fail
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Suspicious
              toReplace:
                value:
                  simple: suspicious
            operator: replace
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Saves the email authenticity verdict in an incident field.
      id: f48eddd6-9736-461b-8028-776d03e2ed41
      iscommand: true
      name: Save authenticity check result to incident field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: f48eddd6-9736-461b-8028-776d03e2ed41
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 392.5,
          "y": 2145
        }
      }
  "84":
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 0af4be02-f1b0-447d-8b18-2c6073f6f29d
      iscommand: false
      name: Calculate Severity - Generic v2
      playbookId: Calculate Severity - Generic v2
      type: playbook
      version: -1
    taskid: 0af4be02-f1b0-447d-8b18-2c6073f6f29d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2350
        }
      }
  "85":
    continueonerrortype: ""
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
      - "11"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      reporteremailaddress:
        complex:
          accessor: emailfrom
          root: incident
          transformers:
          - operator: ExtractEmailTransformer
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Saves the email address of the email reporter in an incident field.
      id: 5f60c808-c68a-4e56-852e-9804baf2815a
      iscommand: true
      name: Save reporter email address in field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 5f60c808-c68a-4e56-852e-9804baf2815a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -260,
          "y": 80
        }
      }
  "88":
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "160"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f7a6959b-7ad1-4daa-86d3-2db0ae047885
      iscommand: false
      name: Machine Learning
      type: title
      version: -1
    taskid: f7a6959b-7ad1-4daa-86d3-2db0ae047885
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1522.5,
          "y": 600
        }
      }
  "91":
    continueonerrortype: ""
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "True"
      CustomURLCategory:
        simple: Demisto Remediation - Malicious URLs
      EmailToBlock:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: email
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: ip
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      MD5:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: stringHasLength
              right:
                value:
                  simple: "32"
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: file
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: hash
          root: DBotScore
          transformers:
          - operator: uniq
      SHA256:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: stringHasLength
              right:
                value:
                  simple: "64"
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: file
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: hash
          root: DBotScore
          transformers:
          - operator: uniq
      URL:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: url
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      URLListName:
        simple: Demisto Remediation - URL EDL
      Username:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: username
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |+
        This playbook blocks malicious Indicators using all integrations that are enabled, using the following sub-playbooks:

        - Block URL - Generic
        - Block Account - Generic
        - Block IP - Generic v2
        - Block File - Generic v2
        - Block Email - Generic
        - Block Domain - Generic

      id: 25a7dbbf-6fec-4f7f-846a-020932e113a4
      iscommand: false
      name: Block Indicators - Generic v2
      playbookId: Block Indicators - Generic v2
      type: playbook
      version: -1
    taskid: 25a7dbbf-6fec-4f7f-846a-020932e113a4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 950,
          "y": 4725
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Name
          root: Domain
          transformers:
          - operator: uniq
      Email:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Account.Email.Address
              operator: isNotEqualString
              right:
                iscontext: true
                value:
                  simple: incident.reporteremailaddress
          root: Account.Email.Address
          transformers:
          - operator: uniq
      Hostname:
        complex:
          accessor: Hostname
          root: Endpoint
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: Address
          root: IP
          transformers:
          - operator: uniq
      InternalDomains:
        complex:
          root: inputs.InternalDomains
      InternalRange:
        complex:
          root: inputs.InternalRange
      MD5:
        complex:
          accessor: MD5
          root: File
          transformers:
          - operator: uniq
      ResolveIP:
        simple: "False"
      SHA1:
        complex:
          accessor: SHA1
          root: File
          transformers:
          - operator: uniq
      SHA256:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: uniq
      URL:
        complex:
          accessor: Data
          root: URL
          transformers:
          - operator: uniq
      Username:
        complex:
          accessor: Username
          root: Account
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Enrich entities using one or more integrations
      id: 1c9c8578-7eab-42ad-86da-4db17e4e1a19
      iscommand: false
      name: Entity Enrichment - Phishing v2
      playbookId: Entity Enrichment - Phishing v2
      type: playbook
      version: -1
    taskid: 1c9c8578-7eab-42ad-86da-4db17e4e1a19
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1290
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3b7c8381-2cd3-4d0d-8f68-43d9a347d8b1
      iscommand: false
      name: Block Indicators
      type: title
      version: -1
    taskid: 3b7c8381-2cd3-4d0d-8f68-43d9a347d8b1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 950,
          "y": 4040
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c34c5046-469d-4aff-8afc-69f52a89ac7c
      iscommand: false
      name: Search & Delete Email
      type: title
      version: -1
    taskid: c34c5046-469d-4aff-8afc-69f52a89ac7c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 4040
        }
      }
  "99":
    continueonerrortype: ""
    id: "99"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b0ff7a55-6517-4311-8d15-0f97eeb740ce
      iscommand: false
      name: Manual Remediation
      type: title
      version: -1
    taskid: b0ff7a55-6517-4311-8d15-0f97eeb740ce
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -250,
          "y": 4040
        }
      }
  "101":
    continueonerrortype: ""
    id: "101"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "126"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a199aa50-46e6-4954-8497-80df0e5ab920
      iscommand: false
      name: Email Campaign Search
      type: title
      version: -1
    taskid: a199aa50-46e6-4954-8497-80df0e5ab920
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1620
        }
      }
  "126":
    continueonerrortype: ""
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    scriptarguments:
      AutomaticallyLinkIncidents:
        simple: "True"
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook is used to find, create and manage phishing campaigns. When a number of similar phishing incidents exist in the system, the playbook can be used to do the following:
        1. Find and link related incidents to the same phishing attack (a phishing campaign).
        2. Search for an existing Phishing Campaign incident, or create a new incident for the linked Phishing incidents.
        3. Link all detected phishing incidents to the Phishing Campaign incident that was found or that was created previously.
        4. Update the Phishing Campaign incident with the latest data about the campaign, and update all related phishing incidents to indicate that they are part of the campaign.
      id: 938f0c62-4b63-48b2-83dc-16e878e7839a
      iscommand: false
      name: Detect & Manage Phishing Campaigns
      playbookId: Detect & Manage Phishing Campaigns
      type: playbook
      version: -1
    taskid: 938f0c62-4b63-48b2-83dc-16e878e7839a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1755
        }
      }
  "131":
    continueonerrortype: ""
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "132"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c687bb32-dcc3-4d05-80da-75f7ffdec978
      iscommand: false
      name: Microsoft's Headers Check
      type: title
      version: -1
    taskid: c687bb32-dcc3-4d05-80da-75f7ffdec978
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -907.5,
          "y": 1620
        }
      }
  "132":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.CheckMicrosoftHeaders
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "133"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to check Microsoft's proprietary email headers.
      id: 49173b96-735b-4bdf-8af5-9749335e7641
      iscommand: false
      name: Check Microsoft's Headers?
      type: condition
      version: -1
    taskid: 49173b96-735b-4bdf-8af5-9749335e7641
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -907.5,
          "y": 1755
        }
      }
  "133":
    continueonerrortype: ""
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook stores the SCL, BCL, and PCL scores if they exist
        to the associated incident fields (Phishing SCL Score, Phishing PCL Score,
        and Phishing BCL Score).\nIt also does the following:\n1) Sets the email classification
        to \"spam\" if the SCL score is equal to or greater than 5.\n2) Sets the incident
        severity according to the playbook inputs (default is: PCL/BCL - Medium, SCL
        - Low). The severity of the incident is set only when one (or more) of the
        following occurs:\n  - PCL (Phishing Confidence Level) score between and including
        4-8: The message content is likely to be phishing.\n  - [BCL](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/bulk-complaint-level-values?view=o365-worldwide)
        (Bulk Complaint Level) score between and including 4-7: The message is from
        a bulk sender that generates a mixed number of complaints. \n    For a score
        between and including 8-9: The message is from a bulk sender that generates
        a high number of complaints.\n  - [SCL](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/spam-confidence-levels?view=o365-worldwide)
        (Spam Confidence Level) score between and including 5-6: Spam filtering marks
        the message as spam. \n    For a score of 9: Spam filtering marks the message
        as high confidence spam. See [anti-spam stamps](https://docs.microsoft.com/en-us/exchange/antispam-and-antimalware/antispam-protection/antispam-stamps?view=exchserver-2019)."
      id: 857c3dc1-e2a0-49bd-8c8e-95fb6bfff25d
      iscommand: false
      name: Process Microsoft's Anti-Spam Headers
      playbookId: Process Microsoft's Anti-Spam Headers
      type: playbook
      version: -1
    taskid: 857c3dc1-e2a0-49bd-8c8e-95fb6bfff25d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -907.5,
          "y": 1950
        }
      }
  "135":
    continueonerrortype: ""
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        complex:
          root: URL
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook detonates URLs using active integrations that support
        URL detonation.
      id: f734a8b9-622b-4020-8cfd-2e8f9f10391d
      iscommand: false
      name: Detonate URL - Generic
      playbookId: detonate_url_-_generic
      type: playbook
      version: -1
    taskid: f734a8b9-622b-4020-8cfd-2e8f9f10391d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 850
        }
      }
  "137":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.DetonateURL
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "137"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "52"
      "yes":
      - "135"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to detonate URLs in supported sandboxes.
      id: 3ef714c0-affd-465f-8c8a-7842b8a96d51
      iscommand: false
      name: Detonate URL?
      type: condition
      version: -1
    taskid: 3ef714c0-affd-465f-8c8a-7842b8a96d51
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -260,
          "y": 600
        }
      }
  "148":
    continueonerrortype: ""
    id: "148"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.incident.reporteremailaddress; var reporter = val.incident.reporteremailaddress; var account = val.Account && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter) > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter || ''; }(val)},
          We've concluded that the email you forwarded to us is malicious. No further action is required on your part. Good job on detecting and forwarding it to us!

          All the best,
            Your security team
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email to the user explaining that the email they reported
        is malicious.
      id: 1830b7e9-8e85-4f3f-882b-d0a5284acd48
      iscommand: true
      name: Update the user that the reported email is malicious
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 1830b7e9-8e85-4f3f-882b-d0a5284acd48
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 3620
        }
      }
  "149":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: PartOfCampaign
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
      label: yes - phishing campaign
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
      label: yes - phishing
    continueonerrortype: ""
    id: "149"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      yes - phishing:
      - "148"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the user can be informed about the verdict of the
        incident.
      id: a760091b-9d91-4da4-8c60-f8565852e98e
      iscommand: false
      name: Can the user be informed about the verdict?
      type: condition
      version: -1
    taskid: a760091b-9d91-4da4-8c60-f8565852e98e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 3410
        }
      }
  "151":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
          right:
            value: {}
      label: "Yes"
    continueonerrortype: ""
    id: "151"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "Yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the user can be informed about the verdict of the
        incident.
      id: b7ed9e35-b33b-4e54-808d-dd2b69e46730
      iscommand: false
      name: Can the user be informed about the verdict?
      type: condition
      version: -1
    taskid: b7ed9e35-b33b-4e54-808d-dd2b69e46730
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -897.5,
          "y": 3410
        }
      }
  "152":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reportedemailfrom
                root: incident
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "152"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the original email was retrieved using the email listener
        integration.
      id: 9cfdf4fe-c4a4-46ee-838f-e6a7ddf7fff3
      iscommand: false
      name: Check if original email was retrieved
      type: condition
      version: -1
    taskid: 9cfdf4fe-c4a4-46ee-838f-e6a7ddf7fff3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 4480
        }
      }
  "153":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Vendor
                    operator: isEqualString
                    right:
                      value:
                        simple: DomainSquatting
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: incident.reportedemailfrom
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Score
                    operator: greaterThanOrEqual
                    right:
                      value:
                        simple: "2"
                root: DBotScore
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "153"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "155"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the attacker tried to squat another domain involved
        in this incident.
      id: 2264759f-5ccc-41a0-8ed7-4fa78c36cc15
      iscommand: false
      name: Did domain-squatting occur?
      type: condition
      version: -1
    taskid: 2264759f-5ccc-41a0-8ed7-4fa78c36cc15
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 960,
          "y": 1755
        }
      }
  "154":
    continueonerrortype: ""
    id: "154"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "153"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f1d81d8d-2684-49c5-8de5-c85f2efcd4e7
      iscommand: false
      name: Domain-squatting
      type: title
      version: -1
    taskid: f1d81d8d-2684-49c5-8de5-c85f2efcd4e7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 960,
          "y": 1620
        }
      }
  "155":
    continueonerrortype: ""
    id: "155"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    scriptarguments:
      domainsquattingresult:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Vendor
              operator: isEqualString
              right:
                value:
                  simple: DomainSquatting
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: incident.reportedemailfrom
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "2"
          root: DBotScore
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value:
                  simple: '@'
            operator: split
          - operator: LastArrayElement
          - args:
              prefix:
                value:
                  simple: The attacker used the domain **
              suffix: {}
            operator: concat
          - args:
              prefix: {}
              suffix:
                value:
                  simple: '** which looks like another domain involved in this incident.'
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: b411c099-e8cf-40aa-8f30-0c6ba2ae1655
      iscommand: true
      name: Save domain-squatting result to incident field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: b411c099-e8cf-40aa-8f30-0c6ba2ae1655
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 950,
          "y": 1950
        }
      }
  "157":
    continueonerrortype: ""
    id: "157"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: baa1a418-8a75-4062-8e91-ae8333412be9
      iscommand: false
      name: Reporter Address specified
      type: title
      version: -1
    taskid: baa1a418-8a75-4062-8e91-ae8333412be9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 300,
          "y": 80
        }
      }
  "160":
    continueonerrortype: ""
    id: "160"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    scriptarguments:
      DBotPredictURLPhishingURLsNumber:
        complex:
          root: inputs.DBotPredictURLPhishingURLsNumber
      EmailHTML:
        complex:
          accessor: HTML
          root: Email
      EmailSubject:
        complex:
          accessor: Subject
          root: Email
      EmailText:
        complex:
          accessor: Text
          root: Email
      ExtractedURLsFromFiles:
        complex:
          root: ExtractedURLsFromFiles
          transformers:
          - operator: uniq
      PhishingModelName:
        complex:
          root: inputs.PhishingModelName
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: d55d1c04-e11d-4d53-8c7f-6f6d643c138c
      iscommand: false
      name: Phishing - Machine Learning Analysis
      playbookId: Phishing - Machine Learning Analysis
      type: playbook
      version: -1
    taskid: d55d1c04-e11d-4d53-8c7f-6f6d643c138c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1522.5,
          "y": 795
        }
      }
  "161":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
          right:
            value: {}
      label: "Yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.sourceBrand
          operator: isEqualString
          right:
            value:
              simple: Manual
      label: No - Manual
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.sourceBrand
          operator: isNotEqualString
          right:
            value:
              simple: Manual
      label: "No"
    continueonerrortype: ""
    id: "161"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "85"
      No - Manual:
      - "11"
      "Yes":
      - "157"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email address of the phishing email reporter
        was specified on incident creation, so that an acknowledgement email can be
        sent to them.
      id: 3babe184-ce2b-4cef-8a9d-f06833e9828b
      iscommand: false
      name: Was the reporter of the phishing email specified?
      type: condition
      version: -1
    taskid: 3babe184-ce2b-4cef-8a9d-f06833e9828b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -210
        }
      }
  "162":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: macro_src_code
                root: Oletools.Olevba.ole_command_result
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "162"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "52"
      "yes":
      - "163"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bbb81709-bda0-48e4-8e35-117c9c3278e9
      iscommand: false
      name: Was a file with macro found?
      type: condition
      version: -1
    taskid: bbb81709-bda0-48e4-8e35-117c9c3278e9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -720,
          "y": 790
        }
      }
  "163":
    continueonerrortype: ""
    id: "163"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      macrosourcecode:
        complex:
          accessor: macro_src_code
          root: Oletools.Olevba.ole_command_result
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: ed46b5a2-3778-40fe-8094-b695b5b7a919
      iscommand: true
      name: Set Macro Source Code field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: ed46b5a2-3778-40fe-8094-b695b5b7a919
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -720,
          "y": 975
        }
      }
  "164":
    continueonerrortype: ""
    id: "164"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "165"
      - "166"
      - "173"
      - "176"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 56e4d636-48f3-49e1-887c-1e5faf10cdaa
      iscommand: false
      name: Custom ARES Remediation
      type: title
      version: -1
    taskid: 56e4d636-48f3-49e1-887c-1e5faf10cdaa
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 4040
        }
      }
  "165":
    continueonerrortype: ""
    id: "165"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "167"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3e14faa2-1f9f-4ad6-803b-57db1ffffa45
      iscommand: false
      name: Infoblox Remediation
      type: title
      version: -1
    taskid: 3e14faa2-1f9f-4ad6-803b-57db1ffffa45
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 4210
        }
      }
  "166":
    continueonerrortype: ""
    id: "166"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "168"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dc2be3c4-c269-4f36-82cd-75679882b73b
      iscommand: false
      name: Netskope Remediation
      type: title
      version: -1
    taskid: dc2be3c4-c269-4f36-82cd-75679882b73b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 4210
        }
      }
  "167":
    continueonerrortype: ""
    id: "167"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "169"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bfbca634-20a9-45c1-8ac7-ed1311537f6b
      iscommand: false
      name: Choose URL and/or Domains to block
      type: regular
      version: -1
    taskid: bfbca634-20a9-45c1-8ac7-ed1311537f6b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 4505
        }
      }
  "168":
    continueonerrortype: ""
    id: "168"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "170"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bbb14104-a457-4231-8a10-cd3de581991d
      iscommand: false
      name: Choose URL to block
      type: regular
      version: -1
    taskid: bbb14104-a457-4231-8a10-cd3de581991d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 4505
        }
      }
  "169":
    continueonerrortype: ""
    id: "169"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "171"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7fdec264-bdfa-4afe-8d17-c80ae8a2b0a5
      iscommand: false
      name: SNOW - NG-OPS-Network
      type: regular
      version: -1
    taskid: 7fdec264-bdfa-4afe-8d17-c80ae8a2b0a5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 4675
        }
      }
  "170":
    continueonerrortype: ""
    id: "170"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "172"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 344434ea-cfba-4615-8178-64b458fa979e
      iscommand: false
      name: SNOW - NG-OPS-Network
      type: regular
      version: -1
    taskid: 344434ea-cfba-4615-8178-64b458fa979e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 4675
        }
      }
  "171":
    continueonerrortype: ""
    id: "171"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 62e5ff65-3669-4200-830a-7ceeedd009ea
      iscommand: false
      name: Monitor SNOW Ticket for Closure
      type: regular
      version: -1
    taskid: 62e5ff65-3669-4200-830a-7ceeedd009ea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 4850
        }
      }
  "172":
    continueonerrortype: ""
    id: "172"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a91e6994-d264-4b12-8114-236228976fd6
      iscommand: false
      name: Monitor SNOW Ticket for Closure
      type: regular
      version: -1
    taskid: a91e6994-d264-4b12-8114-236228976fd6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 4850
        }
      }
  "173":
    continueonerrortype: ""
    id: "173"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "174"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f55139f0-95de-4068-8a5f-186bebb92be3
      iscommand: false
      name: Palo Remediation
      type: title
      version: -1
    taskid: f55139f0-95de-4068-8a5f-186bebb92be3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2310,
          "y": 4210
        }
      }
  "174":
    continueonerrortype: ""
    id: "174"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "175"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f4f776c3-8705-41e2-8f4f-669827d15449
      iscommand: false
      name: Choose URL to add to EDL
      type: regular
      version: -1
    taskid: f4f776c3-8705-41e2-8f4f-669827d15449
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2310,
          "y": 4675
        }
      }
  "175":
    continueonerrortype: ""
    id: "175"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 534322f9-c3de-41ff-8bbb-f32512bb3de9
      iscommand: false
      name: Add URL to EDL
      type: regular
      version: -1
    taskid: 534322f9-c3de-41ff-8bbb-f32512bb3de9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2310,
          "y": 4850
        }
      }
  "176":
    continueonerrortype: ""
    id: "176"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "182"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5b23c4d2-6d2d-4843-880e-b3ed97a5eb50
      iscommand: false
      name: Active Directory Remediation
      type: title
      version: -1
    taskid: 5b23c4d2-6d2d-4843-880e-b3ed97a5eb50
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2740,
          "y": 4210
        }
      }
  "177":
    continueonerrortype: ""
    id: "177"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "178"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 34e61b62-0720-4ab3-8dc5-0f9942167a16
      iscommand: false
      name: Choose user password to reset
      type: regular
      version: -1
    taskid: 34e61b62-0720-4ab3-8dc5-0f9942167a16
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2740,
          "y": 4675
        }
      }
  "178":
    continueonerrortype: ""
    id: "178"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5dceb8a8-aab4-429d-8585-8b42549d5860
      iscommand: false
      name: Reset Password
      type: regular
      version: -1
    taskid: 5dceb8a8-aab4-429d-8585-8b42549d5860
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2740,
          "y": 4850
        }
      }
  "180":
    continueonerrortype: ""
    id: "180"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "181"
    note: false
    quietmode: 0
    scriptarguments:
      user_id:
        simple: ${recipient.address}
    separatecontext: false
    skipunavailable: false
    task:
      brand: MicrosoftGraphMail
      description: Gets the properties of returned emails. Typically shows partial
        results, use the "page_size" and "pages_to_pull" arguments to get all results.
      id: 0d93f164-f134-4f4c-8ac8-c693e9548b80
      iscommand: true
      name: Get List of Emails, Find Item ID
      script: MicrosoftGraphMail|||msgraph-mail-list-emails
      type: regular
      version: -1
    taskid: 0d93f164-f134-4f4c-8ac8-c693e9548b80
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -740
        }
      }
  "181":
    continueonerrortype: ""
    id: "181"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: MicrosoftGraphMail
      description: Retrieves an email message by message ID and uploads the content
        as an EML file.
      id: 39dfd3a7-6c9e-4716-8dbe-8ae7de96b7d9
      iscommand: true
      name: Get EML File
      script: MicrosoftGraphMail|||msgraph-mail-get-email-as-eml
      type: regular
      version: -1
    taskid: 39dfd3a7-6c9e-4716-8dbe-8ae7de96b7d9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -550
        }
      }
  "182":
    continueonerrortype: ""
    id: "182"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "177"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f20eb1e7-66c5-4e1c-8227-72e349b91a41
      iscommand: false
      name: Create ticket for AD group
      type: regular
      version: -1
    taskid: f20eb1e7-66c5-4e1c-8227-72e349b91a41
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2740,
          "y": 4520
        }
      }
  "183":
    continueonerrortype: ""
    id: "183"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "180"
    note: false
    quietmode: 0
    scriptarguments:
      threat_id:
        simple: threat id
    separatecontext: false
    skipunavailable: false
    task:
      brand: Abnormal Security
      description: Get details of a threat
      id: ba52e476-a3f2-4fd8-8538-afab4f37c51d
      iscommand: true
      name: Query Abormal for Message ID
      script: Abnormal Security|||abnormal-security-get-threat
      type: regular
      version: -1
    taskid: ba52e476-a3f2-4fd8-8538-afab4f37c51d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -950
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "137_135_yes": 0.54,
      "137_52_#default#": 0.16,
      "149_148_yes - phishing": 0.66,
      "149_27_#default#": 0.21,
      "151_8_#default#": 0.11,
      "152_43_#default#": 0.17,
      "153_84_#default#": 0.18,
      "15_31_#default#": 0.6,
      "162_163_yes": 0.41,
      "162_52_#default#": 0.22,
      "33_149_yes": 0.18,
      "36_43_#default#": 0.2,
      "37_43_#default#": 0.12,
      "37_91_yes": 0.57,
      "79_84_#default#": 0.21
    },
    "paper": {
      "dimensions": {
        "height": 7245,
        "width": 4642.5,
        "x": -1522.5,
        "y": -1100
      }
    }
  }
